<%=render :partial=>"shared/breadcrumbs", :locals=>{:model_name=>request.path_parameters[:controller],:model_id=>@comentarios_estrategium.id, :parent_model=>nil, :parent_id=>nil}%>
<div class="well"><h1>Comentarios Estrategium</h1>

<p>
  <b>Comentario del seguimiento</b><br>
  <%= @comentarios_estrategium.comentario_del_seguimiento %>
</p>

<p>
  <b>Estrategia promocional</b><br>
  <%= @comentarios_estrategium.estrategia_promocional_id %>
</p>
</div>
<div class="form-actions">
  <%= link_to 'Back', comentarios_estrategia_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_comentarios_estrategium_path(@comentarios_estrategium), :class => 'btn' %>
  <%= link_to 'Delete', comentarios_estrategium_path(@comentarios_estrategium), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
