<%=render :partial=>"shared/breadcrumbs", :locals=>{:model_name=>request.path_parameters[:controller],:model_id=>@tarea.id, :parent_model=>@tarea.model_name, :parent_id=>@tarea.model_id}%>
<div class="well"><p>
  <b>Nombre</b><br>
  <%= @tarea.nombre %>
</p>

<p>
  <b>Descripcion</b><br>
  <%= @tarea.descripcion %>
</p>

<p>
  <b>Fecha de inicio de la tarea</b><br>
  <%= @tarea.fecha_de_inicio_de_la_tarea %>
</p>

<p>
  <b>Hora de inicio</b><br>
  <%= @tarea.hora_de_inicio.strftime('%H:%M %p') rescue nil %>
</p>

<p>
  <b>Fecha de fin de la tarea</b><br>
  <%= @tarea.fecha_de_fin_de_la_tarea %>
</p>

<p>
  <b>Hora de fin</b><br>
  <%= @tarea.hora_de_fin.strftime('%H:%M %p') rescue nil %>
</p>

<p>
  <b>Attachment</b><br>
  <%=link_to "Descargar Attachment",@tarea.attachment_url.to_s %>
</p>
</div>
<div class="form-actions">
  <a href="/<%=@tarea.model_name%>/<%=@tarea.model_id%>/edit" class="btn">Back</a>
      <%if @tarea != nil%>
        <%if @tarea.pendiente == true %>
          <%= link_to 'Quitar pendiente', "#{@tarea.id}/convertir_tarea",:confirm => "Estas seguro de querer continuar?", :class=>'btn btn-warning', :method=>'post', :id=>'convertir_tarea'%> 
        <%else%>
          <%= link_to 'Hacer pendiente', "#{@tarea.id}/convertir_tarea",:confirm => "Estas seguro de querer continuar?", :class=>'btn btn-success', :method=>'post', :id=>'convertir_tarea'%> 
        <%end%> 
      <%end%>    
  <%= link_to 'Edit', edit_tarea_path(@tarea), :class => 'btn' %>
  <%= link_to 'Delete', tarea_path(@tarea), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
