<%= simple_form_for masschange_path,:url=>masschange_path, :html => { :class => 'form-horizontal',:onsubmit=>"return confirm('Estas seguro de querer continuar?');"} do |f| %>

      <%programas = Programa.where('id not in (?)',params[:id]).map{ |c| ["" + c.nivel + "-" + c.programa , c.id] }%>

      <%=f.input :programa_id,:label=>"Programa", :hint=>"Este es el programa que se usara en los prospectos que usan el programa a borrar" do%>
        <%= f.select :programa_id ,programas %>
      <%end%> 

      <div class="control-group string required programas_masschange_programa_id">
        <div class="controls">
          <%if programas.size > 0%>
            <%= f.submit "Cambiar", :class => 'btn btn-danger' ,:id=>"commit" %>
          <%end%>
          <%= link_to 'Cancel', programas_path,:confirm => "Estas seguro de querer continuar?", :class => 'btn' %>
        </div>
      </div>


<%end%>

