# app/views/comments/_comment.html.erb
<div class="well fields">
  <fieldset>
    <%= f.input_field :title%>
    <%= f.input_field :body%>
    <%= f.hidden_field :commentable_id,:value=>@article.id%>
    <%= f.hidden_field :commentable_type,:value=>"Article"%>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Elminar Commentario por", "if(confirm('Estas seguro?')){remove_fields(this)}", :class => 'btn btn-mini btn-danger' %>
  </fieldset>
</div>