	<%= simple_form_for @rpm, :html => { :class => 'form-horizontal' ,:id=>"forma" } do |f| %>
		<div id="wizard">
			<ol>
				<li>Titulo</li>
				<li>Usuarios</li>
				<li>Sede y Sub Sede</li>
				<li>Programas (Productos)</li>
				<li>Fecha de Creacion</li>
				<li>Opciones para mostrar</li>
				<li>Parametros Adicionales</li>
				<li>Columnas a desplegar</li>
				<li>Imprimir</li>
			</ol>
			<div>
	      		<legend>Seleccionar a los usuarios del CRM que crearon los prospectos</legend>
				<%= f.input :nombre %>
				<%= f.hidden_field :permalink %>
			</div>
			<div>
				<legend>Selccionar el personal que creo prospectos</legend>
				<%rol = Role.where(:id=>current_user.role).first%>
				<%if rol.nombre == "AC"%>
					<p>Solo puedes ver los prospctos que tu hayas creado.</p>
					<%f.hidden_field :usuarios,:collection=>User.where(:id=>current_user.id).map{|c| [c.username,c.id] }.sort%>
				<%else%>
<%
 rol = Role.where(:id=>current_user.role).first
    if rol.nombre == "D" or rol.nombre == "ACRM" or rol.nombre == "AL" or rol.nombre == "A"    or rol.nombre == "CP"  
      %>
				<%= f.input :usuarios,:as => :check_boxes,:label=>"Empleados",:checked => @rpm.usuarios, :collection=>User.all.map{|c| [c.username,c.id] }.sort,:include_blank=>true%>
      <%
    else
      %>
				<%= f.input :usuarios,:as => :check_boxes,:label=>"Empleados",:checked => @rpm.usuarios, :collection=>User.where(:sede_id=>current_user.sede).all.map{|c| [c.username,c.id] }.sort,:include_blank=>true%>
      <%
    end

%>


				<%end%>
			</div>
			<div>
				<legend>Seleccionar la Sede y SubSede del Prospecto</legend>
				<%rol = Role.where(:id=>current_user.role).first%>
				<%if rol.nombre == "D" or rol.nombre == "ACRM" or rol.nombre == "AL" or rol.nombre == "A"%>				
					<%= f.input :sedes,:as => :check_boxes,:checked => @rpm.sedes, :collection=>Sede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true  %>
					<%= f.input :subsedes,:as => :check_boxes,:checked => @rpm.subsedes, :collection=>Subsede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true %>

				<%else%>
 					<p>Solo puedes ver los prospctos que tu hayas creado en tu sede.</p>				
					<%= f.hidden_field :sedes,:as => :check_boxes,:checked => @rpm.sedes, :collection=>Sede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true  %>
					<%= f.hidden_field :subsedes,:as => :check_boxes,:checked => @rpm.subsedes, :collection=>Subsede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true %>
				<%end%>
			</div>
			<div>
				<legend>Seleccionar Programas (Productos) </legend>
				<%= f.input :programas,:as => :check_boxes,:checked => @rpm.programas, :collection=>Programa.all.map{|c| [c.nivel + ' - ' +c.programa ,c.id] }.sort,:include_blank=>true%>
			</div>
			<div>
				<blockquote>
				  <p>Es requerido que seleccione un rango de fechas</p>
				</blockquote>    			
				<%= f.input :rango_inicio, :label=>"Creado desde:" do%>
					<div class="input-append date datepicker" id="dp3"  data-date="<%=DateTime.now.strftime('%Y/%m/%d')%>" data-date-format="yyyy/mm/dd">
						<%= f.text_field :rango_inicio, :placeholder=>"Creado desde:"%>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>		
				<%end%>
				<%= f.input :rango_fin, :label=>"Creado hasta:" do%>
					<div class="input-append date datepicker" id="dp3"  data-date="<%=DateTime.now.strftime('%Y/%m/%d')%>"   data-date-format="yyyy/mm/dd">
						<%= f.text_field :rango_fin, :placeholder=>"Creado hasta:"%>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>		
				<%end%>   
			</div>
			<div>

				<div id="opcioneswizard">
					<ol>
						<li>Solicitantes</li>
						<li>Examinados</li>
						<li>Admitidos</li>
						<li>Inscritos</li>
					</ol>		
					<div>
						<legend>Seleccionar el rango de fechas para Solicitantes</legend>
						<blockquote>
						  <p>Solitantes</p>
						</blockquote>     
						<%= f.input :show_solicitantes,:label=>"Mostrar Solicitantes"%>					
					</div>
					<div>
						<legend>Seleccionar el rango de fechas para Examinados</legend>
						<blockquote>
						  <p>Examinados</p>
						</blockquote>              
						<%= f.input :show_solicitantes,:label=>"Mostrar Examinados"%>											
					</div>
					<div>
						<legend>Seleccionar el rango de fechas para Admitidos</legend>
						<blockquote>
						  <p>Admitidos</p>
						</blockquote>              
						<%= f.input :show_solicitantes,:label=>"Mostrar Admitidos"%>					
					</div>
					<div>
						<legend>Seleccionar el rango de fechas para Inscritos</legend>
						<blockquote>
						  <p>Inscritos</p>
						</blockquote>              															
						<%= f.input :show_solicitantes,:label=>"Mostrar Inscritos"%>					
					</div>
				</div>				
			</div>
			<div>
				<legend>Seleccionar parametros addicionales globales</legend>

				<div id="innerwizard">
					<ol>
						<li>Selecionar campos para exportar</li>
						<li>Informacion Personal</li>
						<li>Medio de contacto</li>
						<li>Plan de Descuentos</li>
					</ol>		
					<div> 					    				
						<%= f.input :nacionalidad_id,:as => :check_boxes,:checked => @rpm.nacionalidad_id, :collection=>Nacionalidad.all.map{|c| [c.nacionalidad + ' - ' + (c.pais || ""),c.id] }.sort,:include_blank=>true%>
					   
						<%= f.input :grupo_id,:as => :check_boxes,:checked => @rpm.grupo_id, :collection=>Grupo.all.map{|c| [c.nombre ,c.id] }.sort,:include_blank=>true%>
					</div>
					<div>
						<%= f.input :ultimo_grado_de_estudio_id,:as => :check_boxes,:checked => @rpm.ultimo_grado_de_estudio_id, :collection=>UltimoGradoDeEstudio.all.map{|c| [c.grado_de_estudio,c.id] }.sort,:include_blank=>true%>
						<%= f.input :preparatoria_o_universidad_de_origen_id,:checked => @rpm.preparatoria_o_universidad_de_origen_id,:as => :check_boxes, :collection=>PreparatoriaOUniversidadDeOrigen.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>	
						<%= f.input :municipio_de_la_preparatoria_o_universidad_de_origen_id,:checked => @rpm.municipio_de_la_preparatoria_o_universidad_de_origen_id,:as => :check_boxes, :collection=>MunicipioDeLaPreparatoriaOUniversidadDeOrigen.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
						<%= f.input :sede_id,:as => :check_boxes,:checked => @rpm.sede_id, :collection=>Sede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true%>
						<%= f.input :subsede_id,:as => :check_boxes,:checked => @rpm.subsede_id, :collection=>Subsede.all.map{|c| [c.nombre,c.id] }.sort,:include_blank=>true%>
						<%= f.input :modalidad_id,:as => :check_boxes,:checked => @rpm.modalidad_id, :collection=>Modalidad.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
						<%= f.input :nivel_id,:as => :check_boxes,:checked => @rpm.nivel_id, :collection=>Nivel.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
						<%= f.input :turno_id,:as => :check_boxes,:checked => @rpm.turno_id, :collection=>Turno.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
						<%= f.input :periodo_para_ingresar_id,:as => :check_boxes,:checked => @rpm.periodo_para_ingresar_id, :collection=>PeriodoParaIngresar.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
						<%= f.input :status_de_interes_de_prospecto_validado_id,:checked => @rpm.status_de_interes_de_prospecto_validado_id,:as => :check_boxes, :collection=>StatusDeInteresDeProspectoValidado.all.map{|c| [c.valor,c.id] }.sort,:include_blank=>true%>
					</div>
					<div>
					    <%=f.input :medio_de_contactos_id, :collection=>[["Feria Universitaria","feria_universitaria_en_su_colegio"],["Platica en su salón","visita_a_su_salon"],["Recomendación de un amigo / familiar","recomendacion_de_un_amigo_familiar"],["Recomendación de un egresado","recomendacion_de_un_egresado"],["Sitio Oficial Web ISEF","sitio_oficial_web_ISEF"],["Facebook","facebook"],["Twitter","twitter"],["E-mail de promoción/mailing","email_de_promocion_mailing"],["Impreso; flyer/folleto","impreso_flyer_folleto"],["Anuncio/Publicación/Periódico/Revista","anuncio_publicacion_periodico_revista"],["Llamada teléfonica de un Asesor","llamada_telefonica_de_un_asesor"],["Conferencia/Plática/Charla","conferencia_platica_charla"],["Sesión Informativa","sesion_informativa"],["Visitó las instalaciones","visito_las_instalaciones"],["Convenio con su Institución","convenio_con_su_institucion"]],:as=>:check_boxes%>						    			    
					</div>														
					<div>
					    <%= f.input :descuento_en_la_inscripcion,:item_wrapper_class => 'inline',:collection => [['Con Descuento',true], ['Sin Descuento',false]], :as=>:radio_buttons%>
					    
					</div>
				</div>
			</div>
			<div>
				<legend>Seleccionar campos a desplegar</legend>
    <p class="help-block">Seleccione las columnas que quiera desplegar seleccionado las columnas, para seleccionar multiples presione la tecla control (ctrl).</p>
    <%
columnas=ActiveRecord::Base.connection.columns("prospectos")
	    columnas= columnas + ActiveRecord::Base.connection.columns("direccions")
	    columnas= columnas + ActiveRecord::Base.connection.columns("interes_basicos")
	    columnas= columnas + ActiveRecord::Base.connection.columns("medio_de_contactos")
	    columnas= columnas + ActiveRecord::Base.connection.columns("plan_de_descuentos")
	    columnas = columnas.index_by {|r| r.name.humanize}.values
    %>
				     <%= f.input_field  :columnas_seleccionadas,:as=>:select,:selected=>@rpm.columnas_seleccionadas,:multiple=>true,:collection=>columnas.map{|c| [c.name.humanize,c.name] }.sort  %>		

			</div>
			<div>
				<legend>Imprimir</legend>
				    <%= f.button :submit, :class => 'btn btn-large btn-block btn-primary',:value=>"Imprimir reporte" %>
			</div>
		</div>	
<%= f.button :submit, :class => 'btn btn-large btn-block btn-primary',:value=>"Imprimir reporte" %>
	<% end %>

<script type="text/javascript">
(function($) {
$(document).ready(function(){
	$('.datepicker').datepicker();
	$("#rpm_columnas").css("height", 200);
	$("#rpm_columnas_seleccionadas").css("height", 400);

    $("#wizard").bwizard();
	$("#opcioneswizard").bwizard();    
    
	$("#innerwizard").bwizard();
	$("#rpm_sedes_<%=current_user.sede_id%>").click();
	<%findsubsedes=Subsede.where(:sede_id=>current_user.sede_id).all%>
	<%findsubsedes.each do |subsede|%>
		$("#rpm_subsedes_<%=subsede.id rescue nil%>").click();
	<%end%>


	$("#rpm_columnas_seleccionadas option[value='true']").each(function() {
    $(this).remove();
});
	$("#rpm_columnas_seleccionadas option[value='false']").each(function() {
    $(this).remove();
});

	$("#rpm_columnas option[value='true']").each(function() {
    $(this).remove();
});
		$("#rpm_columnas option[value='false']").each(function() {
	    $(this).remove();
	});


});
})(jQuery);



$().ready(function() {  
 $('#add').click(function() {  
	$('#rpm_columnas_seleccionadas')
    .find('option')
    .remove()
    .end(); 	
  return !$('#rpm_columnas option:selected').remove().appendTo('#rpm_columnas_seleccionadas');  
 });  
 $('#remove').click(function() {  
	
	$('#rpm_columnas_seleccionadas option:selected').remove().appendTo('#rpm_columnas'); 	
	 	if ($('#rpm_columnas_seleccionadas option').length == 0) {
		$('#rpm_columnas_seleccionadas')
	    .find('option')
	    .remove()
	    .end()
	    .append('<option value="todas">Todas</option>');
		}

  return false;  
 });  
});


</script>