<%if kind != nil%>
  <div class="tab-pane <%=(active == true) ?  'active' : '' %>" id="<%=kind%><%=identifier%>">
<%end%>
<%if prospectos != nil%>
	  <p>
		<table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
		  <thead>
		    <tr>
		        <%if columnas != nil%>
		          <% columnas.each do |column| %>
		              <th><a href="#"><%= column.humanize %></a></th>
		          <% end %>
		        <% end %>	
		        <th>Acciones</th>	      
		    </tr>
		  </thead>
		  <tbody>
		    <% prospectos.each do |prospecto| %>
		      <tr>
		        <%if columnas != nil%>
		        	<%columnas.each do |columna|%>
			        	<%if Prospecto.column_names.include?(columna)%>
			        	<%
			        		case columna
			        		when "nacionalidad_id"
			        			#tabla = Nacionalidad.where(:id=>prospecto.nacionalidad_id) rescue nil
				      			%><td><%=prospecto.nacionalidad.nacionalidad rescue nil%> - <%=prospecto.nacionalidad.pais rescue nil%></td><%
				      		when "user_id"
				      			#tabla = User.where(:id=>prospecto.user_id) rescue nil
				      			%><td><%=prospecto.user.username rescue nil%></td><%
				      		when "sede_id","territorio_id","grupo_id"
				      			#tabla = eval(columna.chomp('_id').camelize.singularize).where(:id=>eval("prospecto." + columna)) rescue nil
				      			%><td><%=prospecto.sede.nombre rescue nil%></td><%
				      		when "programa_id"
				      			#tabla = Programa.where(:id=>prospecto.id) rescue nil
				      			%><td><%=prospecto.programa.nivel rescue nil%> - <%=prospecto.programa.programa rescue nil%></td><%
				      		else
				      			template = eval(columna.chomp('_id').camelize.singularize) rescue nil
				      			if template != nil
					      			if eval(columna.chomp('_id').camelize.singularize).respond_to?(:valor) then
					      				#tabla=eval(columna.chomp('_id').camelize.singularize).where(:id=>eval("prospecto." + columna)) rescue nil
					      				%><td><%=prospecto[columna.chomp('_id').camelize.pluralize].valor rescue nil%></td><%
					      			else
					      				%><td><%=prospecto[columna] rescue nil%></td><%
					      			end
					      		else
					      			%><td><%=prospecto[columna] rescue nil%></td><%
					      		end
			        		end
			        	%>	        		
			        	<%end%>
			        	<%if Direccion.column_names.include?(columna)%>
			        		<td>
<%
							#find direccion of the prospecto
							if columna  != "blank" and columna != "created_by" and columna != "created_at"
								#direccion = Direccion.where(:prospecto_id=>prospecto.id).first
								%><%=prospecto.direccions.first[columna]%><%
							end
%>			        	
							</td>
			        	<%end%>
			        	<%if InteresBasico.column_names.include?(columna)%>
			        		<td>
<%
							#find direccion of the prospecto
							if columna  != "blank" and columna != "created_by" and columna != "created_at"
								#direccion = InteresBasico.where(:prospecto_id=>prospecto.id).first
								%><%=prospecto.interes_basicos.first[columna]%><%
							end
%>			        	
							</td>
			        	<%end%>
			        	<%if InteresAcademico.column_names.include?(columna)%>
			        		<td>
<%
							#find direccion of the prospecto
							if columna  != "blank" and columna != "created_by" and columna != "created_at"
								#direccion = InteresAcademico.where(:prospecto_id=>prospecto.id).first
								%><%=prospecto.interes_academicos.first[columna]%><%
							end
%>			        	
							</td>
			        	<%end%>
			        	<%if PlanDeDescuento.column_names.include?(columna)%>
			        		<td>
<%
							#find direccion of the prospecto
							if columna  != "blank" and columna != "created_by" and columna != "created_at"
								#direccion = PlanDeDescuento.where(:prospecto_id=>prospecto.id).first
								%><%=prospecto.plan_de_descuentos.first[columna]%><%
							end
%>			        	
							</td>
			        	<%end%>		  
			        	<%if MedioDeContacto.column_names.include?(columna)%>
			        		<td>
<%
							#find direccion of the prospecto
							if columna  != "blank" and columna != "created_by" and columna != "created_at"
								#direccion = MedioDeContacto.where(:prospecto_id=>prospecto.id).first
								%><%=prospecto.medio_de_contactos.first[columna]%><%
							end
%>			        	
							</td>
			        	<%end%>					        	      				        	
			        <%end%>
		        <%end%>
		        <td>
		        <%




		        	if kind.start_with?("solicitante")
solicitantes=Solicitante.where(:isexaminado=> false).where("prospecto_id in (:prospectos)",:prospectos=>Prospecto.joins{solicitante}.where(:id=>prospecto.id)).first

%>
		          <%= link_to 'Edit', edit_solicitante_path(solicitantes), :class => 'btn btn-mini' %>
		          <%= link_to 'Resumen', resumen_path(prospecto),:class=>'btn btn-success btn-mini'%>
		        <a href="#" class='btn btn-info btn-mini'  onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')">
		          <i class="icon-print"></i> Imprimir
		        </a>
		        		<%

		        	elsif kind.start_with?("examinado")

examinados=Examinado.where(:isadmitido=>false).where("solicitante_id in (:solicitantes)",:solicitantes=>Solicitante.where("prospecto_id in (:prospectos)",:prospectos=>Prospecto.joins{solicitante}.where(:id=>prospecto.id))).first
        


		        	%>
		          <%= link_to 'Edit', edit_examinado_path(examinados), :class => 'btn btn-mini' %>
		          <%= link_to 'Resumen', resumen_path(prospecto),:class=>'btn btn-success btn-mini'%>
		        <a href="#" class='btn btn-info btn-mini'  onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')">
		          <i class="icon-print"></i> Imprimir
		        </a>


		        	<%

		        elsif kind.start_with?("admitido")
		        		

		        		admitidos=Admitido.where(:isinscrito=>false).where("examinado_id in (:examinados)",:examinados=>Examinado.where("solicitante_id in (:solicitantes)",:solicitantes=>Solicitante.where("prospecto_id in (:prospectos)",:prospectos=>Prospecto.joins{solicitante}.where(:id=>prospecto.id)))).first
        
		        	%>
		          <%= link_to 'Edit', edit_admitido_path(admitidos), :class => 'btn btn-mini' %>
		          <%= link_to 'Resumen', resumen_path(prospecto),:class=>'btn btn-success btn-mini'%>
		        <a href="#" class='btn btn-info btn-mini'  onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')">
		          <i class="icon-print"></i> Imprimir
		        </a>


		        	<%

		        	elsif kind.start_with?("inscrito")

		        	inscritos=Inscrito.where("admitido_id in (:admitidos)",:admitidos=>Admitido.where("examinado_id in (:examinados)",:examinados=>Examinado.where("solicitante_id in (:solicitantes)",:solicitantes=>Solicitante.where("prospecto_id in (:prospectos)",:prospectos=>Prospecto.joins{solicitante}.where(:id=>prospecto.id))))).first



		        	%>
		          <%= link_to 'Edit', edit_inscrito_path(inscritos), :class => 'btn btn-mini' %>
		          <%= link_to 'Resumen', resumen_path(prospecto),:class=>'btn btn-success btn-mini'%>
		        <a href="#" class='btn btn-info btn-mini'  onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')">
		          <i class="icon-print"></i> Imprimir
		        </a>


		        	<%	
		        		
		        	else
		        		%>
				          <%= link_to 'Edit', edit_prospecto_path(prospecto), :class => 'btn btn-mini' %>
				          <%= link_to 'Resumen', resumen_path(prospecto),:class=>'btn btn-success btn-mini'%>
				        <a href="#" class='btn btn-info btn-mini'  onclick="javascript:openPrint('prospectos','<%=prospecto.id%>')">
				          <i class="icon-print"></i> Imprimir
				        </a>
				          <%if not prospecto.issolicitante%>
				              <%= link_to 'Destroy', prospecto_path(prospecto), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
				          <%end%>


		        		<%
		        	end
		        %>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	  </p>
<%end%>


<%if kind != nil%>
	</div>
<%end%>