
						<%
					      #find prospecto first
					      @prospecto = Prospecto.where(:id=>prospectoid).first
					      if @prospecto!=nil
					        @tareas1 = Tarea.where(:model_name=>"prospectos",:model_id=>@prospecto.id)
					        @memos1 = Memo.where(:model_name=>"prospectos",:model_id=>@prospecto.id)
					        @attachments1 = Attachment.where(:model_name=>"prospectos",:model_id=>@prospecto.id)
					        @llamadas1 = Llamada.where(:model_name=>"prospectos",:model_id=>@prospecto.id)
					        @correos1 = Correo.where(:model_name=>"prospectos",:model_id=>@prospecto.id)
					        if @prospecto.solicitante_id != nil
					          @solicitante = Solicitante.find(@prospecto.solicitante_id)
					          @llamadas2 = Llamada.where(:model_name=>"solicitantes",:model_id=>@solicitante.id)
					          @correos2 = Correo.where(:model_name=>"solicitantes",:model_id=>@solicitante.id)
					          @attachments2 = Attachment.where(:model_name=>"solicitantes",:model_id=>@solicitante.id)
					          @memos2 = Memo.where(:model_name=>"solicitantes",:model_id=>@solicitante.id)
					          @tareas2 = Tarea.where(:model_name=>"solicitantes",:model_id=>@solicitante.id)
					          #check if he has a examinado
					          if @solicitante.examinado_id !=nil
					            @examinado = Examinado.find(@solicitante.examinado_id)
					            @tareas3 = Tarea.where(:model_name=>"examinados",:model_id=>@examinado.id)
					            @memos3 = Memo.where(:model_name=>"examinados",:model_id=>@examinado.id)
					            @correos3 = Correo.where(:model_name=>"examinados",:model_id=>@examinado.id)
					            @attachments3 = Attachment.where(:model_name=>"examinados",:model_id=>@examinado.id)
					            @llamadas3 = Llamada.where(:model_name=>"examinados",:model_id=>@examinado.id)
					            
					            #check if he has an admitido
					            if @examinado.admitido_id !=nil
					              @admitido = Admitido.find(@examinado.admitido_id)
					              @tareas4 = Tarea.where(:model_name=>"admitidos",:model_id=>@admitido.id)
					              @correos4 = Correo.where(:model_name=>"admitidos",:model_id=>@admitido.id)
					              @attachments4 = Attachment.where(:model_name=>"admitidos",:model_id=>@admitido.id)
					              @llamadas4 = Llamada.where(:model_name=>"admitidos",:model_id=>@admitido.id)
					              @memos4 = Memo.where(:model_name=>"admitidos",:model_id=>@admitido.id)
					              
					              #check if he has an inscrito
					              if @admitido.inscrito_id !=nil
					                @inscrito = Inscrito.find(@admitido.inscrito_id)
					                @tareas5 = Tarea.where(:model_name=>"inscritos",:model_id=>@inscrito.id)
					                @memos5 = Memo.where(:model_name=>"inscritos",:model_id=>@inscrito.id)
					                @correos5 = Correo.where(:model_name=>"inscritos",:model_id=>@inscrito.id)
					                @attachments5 = Attachment.where(:model_name=>"inscritos",:model_id=>@inscrito.id)
					                @llamadas5 = Llamada.where(:model_name=>"inscritos",:model_id=>@inscrito.id)
					                
					              end
					            end
					          end
					        end
					      end
						%>	
<%enabled=false%>
<%if @inscrito !=nil%>
  <%enabled =true%>
  <%= render :partial => "inscritoNav"%>
  <%=render :partial=>"shared/show_inscritos", :locals=>{:f=>@inscrito,:prospectoid=>@prospecto.id,:isactive=>" in active "}%>
<!-- END111111111111111111111111111111111111111-->
<%elsif @admitido != nil && enabled==false%>
<%enabled =true%>
<%= render :partial => "admitidoNav"%>
<%=render :partial=>"shared/show_admitidos", :locals=>{:f=>@admitido,:prospectoid=>@prospecto.id,:isactive=>" in active "}%>
<%elsif @examinado != nil && enabled==false%>
<%enabled =true%>
<%= render :partial => "examinadoNav"%>
<%=render :partial=>"shared/show_examinados", :locals=>{:f=>@examinado,:prospectoid=>@prospecto.id,:isactive=>" in active "}%>
<%elsif @solicitante!= nil && enabled==false%>
<%enabled =true%>
<%= render :partial => "solicitanteNav"%>
<%=render :partial=>"shared/show_solicitantes", :locals=>{:f=>@solicitante,:prospectoid=>@prospecto.id,:isactive=>" in active "}%>
<%elsif @prospecto != nil && enabled==false%>
<%enabled =true%>
<%= render :partial => "prospectoNav"%>
<%=render :partial=>"shared/show_prospectos", :locals=>{:f=>@prospecto,:prospectoid=>@prospecto.id,:isactive=>" in active "}%>
<%end%>


<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tareas" data-toggle="tab">Tareas</a></li>
    <li><a href="#llamadas" data-toggle="tab">Llamadas</a></li>
    <li><a href="#memos" data-toggle="tab">Memos</a></li>
    <li><a href="#correos" data-toggle="tab">Correos</a></li>
    <li><a href="#attachments" data-toggle="tab">Adjuntos</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tareas">
		<%
		  #render a partial for any tareas
		  tareas =[@tareas1,@tareas2,@tareas3,@tareas4,@tareas5].flatten.compact.sort
		  %>

		    <div class="well">
		      <h3>Tareas</h3>
		       <table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>ID</th>
		            <th>Nombre</th>
		            <th>Creado en </th>
		            <th>Actions</th>
		          </tr>
		        </thead>
		        <tbody>
		          <%if tareas[0] != nil%>
		            <% tareas.each do |tarea| %>
		              <tr>
		                <td><%= link_to tarea.id, tarea_path(tarea) %></td>
		                <td><%= link_to tarea.nombre, tarea_path(tarea) %></td>
		                <td><%= link_to tarea.created_at, tarea_path(tarea) %></td>
		                <td>
		                  <%= link_to 'Edit', edit_tarea_path(tarea), :class => 'btn btn-mini' %>
		                  <%= link_to 'Destroy', tarea_path(tarea), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		                </td>
		              </tr>
		            <% end %>
		          <%end%>
		        </tbody>
		      </table>
		      <%= link_to 'Nueva Tarea', new_tarea_path(:model_name=>request.path_parameters[:controller],:model_id=>@prospecto.id), :class => 'btn btn-primary' %>
		    </div>
    </div>
    <div class="tab-pane" id="llamadas">
		<%
		  #render a partial for any llamadas
		  llamadas =[@llamadas1,@llamadas2,@llamadas3,@llamadas4,@llamadas5].flatten.compact.sort
		  %>

		    <div class="well">
		      <h3>Llamadas</h3>
		       <table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>ID</th>
		            <th>Asunto</th>
		            <th>Creado en </th>
		            <th>Actions</th>
		          </tr>
		        </thead>
		        <tbody>
		          <%if llamadas[0] != nil%>
		            <% llamadas.each do |llamada| %>
		              <tr>
		                <td><%= link_to llamada.id, llamada_path(llamada) %></td>
		                <td><%= link_to llamada.asunto, llamada_path(llamada) %></td>
		                <td><%= link_to llamada.created_at, llamada_path(llamada) %></td>
		                <td>
		                  <%= link_to 'Edit', edit_llamada_path(llamada), :class => 'btn btn-mini' %>
		                  <%= link_to 'Destroy', llamada_path(llamada), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		                </td>
		              </tr>
		            <% end %>
		          <%end%>
		        </tbody>
		      </table>
		      <%= link_to 'Nuevo Llamada', new_llamada_path(:model_name=>request.path_parameters[:controller],:model_id=>@prospecto.id), :class => 'btn btn-primary' %>
		    </div>
    </div>
    <div class="tab-pane" id="memos">
		 <%
		  #render a partial for any memos
		  memos =[@memos1,@memos2,@memos3,@memos4,@memos5].flatten.compact.sort
		  %>

		    <div class="well">
		      <h3>Notas</h3>
		       <table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>ID</th>
		            <th>Nombre</th>
		            <th>Creado en </th>
		            <th>Actions</th>
		          </tr>
		        </thead>
		        <tbody>
		          <%if memos[0] != nil%>
		          <% memos.each do |memo| %>
		            <tr>
		              <td><%= link_to memo.id, memo_path(memo) %></td>
		              <td><%= link_to memo.nombre, memo_path(memo) %></td>
		              <td><%= link_to memo.created_at, memo_path(memo) %></td>
		              <td>
		                <%= link_to 'Edit', edit_memo_path(memo), :class => 'btn btn-mini' %>
		                <%= link_to 'Destroy', memo_path(memo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		              </td>
		            </tr>
		          <% end %>
		          <%end%>
		        </tbody>
		      </table>
		      <%= link_to 'Nueva Nota', new_memo_path(:model_name=>request.path_parameters[:controller],:model_id=>@prospecto.id), :class => 'btn btn-primary' %>
		    </div>  
    </div>
    <div class="tab-pane" id="correos">
		 <%
		  #render a partial for any attachments
		  correos =[@correos1,@correos2,@correos3,@correos4,@correos5].flatten.compact.sort
		  %>

		    <div class="well">
		      <h3>Correos</h3>
		       <table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>ID</th>
		            <th>Nombre</th>
		            <th>Creado en </th>
		            <th>Actions</th>
		          </tr>
		        </thead>
		        <tbody>
		          <%if correos[0] != nil%>
		          <% correos.each do |correo| %>
		            <tr>
		              <td><%= link_to correo.id, correo_path(correo) %></td>
		              <td><%= link_to correo.nombredelmail, correo_path(correo) %></td>
		              <td><%= link_to correo.created_at, correo_path(correo) %></td>
		              <td>
		                <%= link_to 'Edit', edit_correo_path(correo), :class => 'btn btn-mini' %>
		                <%= link_to 'Destroy', correo_path(correo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		              </td>
		            </tr>
		          <% end %>
		          <%end%>
		        </tbody>
		      </table>
		      <%= link_to 'Nuevo Correo', new_correo_path(:model_name=>request.path_parameters[:controller],:model_id=>@prospecto.id), :class => 'btn btn-primary' %>
		    </div>  
    </div>
    <div class="tab-pane" id="attachments">
		<%
		  #render a partial for any attachments
		  attachments =[@attachments1,@attachments2,@attachments3,@attachments4,@attachments5].flatten.compact.sort
		  %>
		 
		    <div class="well">
		      <h3>Archivos Adjuntos</h3>
		       <table class="table table-striped table-bordered table-condensed">
		        <thead>
		          <tr>
		            <th>ID</th>
		            <th>Nombre</th>
		            <th>Creado en </th>
		            <th>Actions</th>
		          </tr>
		        </thead>
		        <tbody>
		          <%if attachments[0] != nil%>
		          <% attachments.each do |attachment| %>
		            <tr>
		              <td><%= link_to attachment.id, attachment_path(attachment) %></td>
		              <td><%= link_to attachment.name, attachment_path(attachment) rescue nil%></td>
		              <td><%= link_to attachment.created_at, attachment_path(attachment) %></td>
		              <td>
		                <%= link_to 'Edit', edit_attachment_path(attachment), :class => 'btn btn-mini' %>
		                <%= link_to 'Destroy', attachment_path(attachment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		              </td>
		            </tr>
		          <% end %>
		          <%end%>
		        </tbody>
		      </table>
		      <%= link_to 'Nuevo Adjunto', new_attachment_path(:model_name=>request.path_parameters[:controller],:model_id=>@prospecto.id), :class => 'btn btn-primary' %>
		    </div>  
    </div>            
  </div>
</div>