<%- model_class = Rpm.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rpms.each do |rpm| %>
      <tr>
        <td><%= link_to rpm.id, edit_rpm_path(rpm) %></td>
        <td><%= link_to rpm.nombre, edit_rpm_path(rpm) %></td>
        <td><%= link_to rpm.created_at , edit_rpm_path(rpm)%></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rpm_path(rpm), :class => 'btn btn-info btn-mini' %>
          <%= link_to "Imprimir",
                      imprimir_rpm_path(rpm), :class => 'btn btn-mini' %>
          <%= link_to "Exportar",
                      imprimir_rpm_path(rpm,format: :xls),:format=>"xls", :class => 'btn btn-success btn-mini' %>                                            
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contacto_path(rpm),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rpm_path,
            :class => 'btn btn-primary' %>