<A HREF="javascript:window.print()">Has click aqui para imprimir la pagina</A>
<h1> Llamada </h1>
<div class="">
<fieldset>
<p>
  <b>Asunto</b><br>
  <%= @llamada.asunto %>
</p>

<p>
  <b>Inicio de la llamada</b><br>
  <%= @llamada.inicio_de_la_llamada %>
</p>

<p>
  <b>Tiempo de inicio</b><br>
  <%= @llamada.tiempo_de_inicio %>
</p>

<p>
  <b>Fin de la llamada</b><br>
  <%= @llamada.fin_de_la_llamada %>
</p>

<p>
  <b>Tiempo de fin</b><br>
  <%= @llamada.tiempo_de_fin %>
</p>

<p>
  <b>Duracion</b><br>
  <%= @llamada.duracion %>
</p>

<p>
  <b>Estado</b><br>
  <%= @llamada.estado %>
</p>

<p>
  <b>Aviso</b><br>
  <%= @llamada.aviso %>
</p>

<p>
  <b>Model name</b><br>
  <%= @llamada.model_name %>
</p>

<p>
  <b>Model</b><br>
  <%= @llamada.model_id %>
</p>
</fieldset>
</div>
</div>
