<h1>Dictamen PAA</h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Valor</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @status_del_examinado_paas.each do |status_del_examinado_paa| %>
      <tr>
        <td><%= status_del_examinado_paa.id %></td>
        <td><%= link_to status_del_examinado_paa.valor, status_del_examinado_paa_path(status_del_examinado_paa) %></td>
        <td><%= status_del_examinado_paa.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_status_del_examinado_paa_path(status_del_examinado_paa), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', status_del_examinado_paa_path(status_del_examinado_paa), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_status_del_examinado_paa_path, :class => 'btn btn-primary' %>
