<h1>Listing report_directions</h1>

<table>
  <tr>
    <th>Fieldname</th>
    <th>Fieldvalue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @report_directions.each do |report_direction| %>
  <tr>
    <td><%= report_direction.fieldname %></td>
    <td><%= report_direction.fieldvalue %></td>
    <td><%= link_to 'Show', report_direction %></td>
    <td><%= link_to 'Edit', edit_report_direction_path(report_direction) %></td>
    <td><%= link_to 'Destroy', report_direction, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report direction', new_report_direction_path %>
