<p id="notice"><%= notice %></p>

<p>
  <b>Fieldname:</b>
  <%= @report_direction.fieldname %>
</p>

<p>
  <b>Fieldvalue:</b>
  <%= @report_direction.fieldvalue %>
</p>


<%= link_to 'Edit', edit_report_direction_path(@report_direction) %> |
<%= link_to 'Back', report_directions_path %>
