<%- model_class = @mi_plan_estrategico_de_promocion_pep.class -%>
<h1>Plan Operativo</h1>

<dl class="dl-vertical">
  <dt><strong><%= model_class.human_attribute_name(:periodo_anual) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.periodo_anual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pep_para) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.pep_para %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_de_la_institucion) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.nombre_de_la_institucion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:segmento) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.segmento %></dd>
  <dt><strong>Plantel:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.tipo_especifico %></dd>

  <dt><strong>Sede:</strong></dt>
  <dd>

    <%name = "Sin Sede"

    if @mi_plan_estrategico_de_promocion_pep.sede_id != nil
       name= Sede.where(:id=>@mi_plan_estrategico_de_promocion_pep.sede_id).first.nombre
    end
    %>
    <%= name rescue nil %></dd>


  <dt><strong><%= model_class.human_attribute_name(:nse) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.nse %></dd>
  <dt><strong><%= model_class.human_attribute_name(:forma_parte_de_mi_mdo_meta) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.forma_parte_de_mi_mdo_meta %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tamano_de_mdo_que_aspira_abarcar) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.tamano_de_mdo_que_aspira_abarcar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mercado_meta_observaciones) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.mercado_meta_observaciones %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asesor_a_cargo) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.asesor_a_cargo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:persona_de_contacto) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.persona_de_contacto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cargo) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.cargo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono_de_oficina) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.telefono_de_oficina %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ext) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.ext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:otro_telefono) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.otro_telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:movil) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.movil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pag_web) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.pag_web %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calle) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.calle %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_exterior) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.no_exterior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_interior) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.no_interior %></dd>
  <dt><strong><%= model_class.human_attribute_name(:colonia) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.colonia %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codigo_postal) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.codigo_postal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:delegacion_municipio) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.delegacion_municipio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.estado %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pais) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.pais %></dd>
  <dt><strong><%= model_class.human_attribute_name(:google_maps) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.google_maps %></dd>
  <dt><strong><%= model_class.human_attribute_name(:latitude) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.latitude %></dd>
  <dt><strong><%= model_class.human_attribute_name(:longitude) %>:</strong></dt>
  <dd><%= @mi_plan_estrategico_de_promocion_pep.longitude %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              mi_plan_estrategico_de_promocion_peps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mi_plan_estrategico_de_promocion_pep_path(@mi_plan_estrategico_de_promocion_pep), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mi_plan_estrategico_de_promocion_pep_path(@mi_plan_estrategico_de_promocion_pep),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
