<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
          <Cell><Data ss:Type="String">Nombre(s)</Data></Cell>
          <Cell><Data ss:Type="String">Apellido paterno</Data></Cell>
          <Cell><Data ss:Type="String">Apellido materno</Data></Cell>
          <Cell><Data ss:Type="String">Sexo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de nacimiento</Data></Cell>
          <Cell><Data ss:Type="String">Programa</Data></Cell>
          <Cell><Data ss:Type="String">Nacionalidad</Data></Cell>
          <Cell><Data ss:Type="String">Teléfono particular</Data></Cell>
          <Cell><Data ss:Type="String">Teléfono movil</Data></Cell>
          <Cell><Data ss:Type="String">Otro teléfono</Data></Cell>
          <Cell><Data ss:Type="String">E-mail</Data></Cell>
          <Cell><Data ss:Type="String">Facebook</Data></Cell>
          <Cell><Data ss:Type="String">Twitter</Data></Cell>
          <Cell><Data ss:Type="String">Validado</Data></Cell>
          <Cell><Data ss:Type="String">Revisada Importacion</Data></Cell>
          <Cell><Data ss:Type="String">Calle</Data></Cell>
          <Cell><Data ss:Type="String">No interior</Data></Cell>
          <Cell><Data ss:Type="String">No exterior</Data></Cell>
          <Cell><Data ss:Type="String">Colonia</Data></Cell>
          <Cell><Data ss:Type="String">Delegación / Municipio</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Pais</Data></Cell>
          <Cell><Data ss:Type="String">Código Postal</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Ultimo grado de estudios</Data></Cell>
          <Cell><Data ss:Type="String">Preparatoria / Universidad de origen</Data></Cell>
          <Cell><Data ss:Type="String">Municipio de la Preparatoria / Universidad de origen</Data></Cell>
          <Cell><Data ss:Type="String">Año de graduación</Data></Cell>
          <Cell><Data ss:Type="String">Sede</Data></Cell>
          <Cell><Data ss:Type="String">Extension de interés</Data></Cell>
          <Cell><Data ss:Type="String">Nivel</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Periodo para ingresar</Data></Cell>
          <Cell><Data ss:Type="String">Status de interes del prospecto validado</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Opción 1</Data></Cell>
          <Cell><Data ss:Type="String">Opción 2</Data></Cell>
          <Cell><Data ss:Type="String">Opción 3</Data></Cell>
          <Cell><Data ss:Type="String">Feria universitaria</Data></Cell>
          <Cell><Data ss:Type="String">Platica en su salón"</Data></Cell>
          <Cell><Data ss:Type="String">Recomendación de un amigo familiar</Data></Cell>
          <Cell><Data ss:Type="String">Recomendación de un egresado</Data></Cell>
          <Cell><Data ss:Type="String">Sitio oficial web ISEF</Data></Cell>
          <Cell><Data ss:Type="String">Facebook</Data></Cell>
          <Cell><Data ss:Type="String">Twitter</Data></Cell>   
          <Cell><Data ss:Type="String">E-mail de promoción mailing</Data></Cell>
          <Cell><Data ss:Type="String">Impreso; flyer/folleto</Data></Cell>
          <Cell><Data ss:Type="String">Anuncio/Publicación/Periódico/Revista</Data></Cell>
          <Cell><Data ss:Type="String">Llamada teléfonica de un Asesor</Data></Cell>
          <Cell><Data ss:Type="String">Conferencia/Plática/Charla</Data></Cell>
          <Cell><Data ss:Type="String">Sesión Informativa</Data></Cell>
          <Cell><Data ss:Type="String">Visitó las instalaciones</Data></Cell>  
          <Cell><Data ss:Type="String">Convenio con su institucion</Data></Cell>
          <Cell><Data ss:Type="String">Otro</Data></Cell>
          <Cell><Data ss:Type="String">Otro texto</Data></Cell>
          <Cell><Data ss:Type="String">Commentiarios</Data></Cell>
          <Cell><Data ss:Type="String">Descuento en la inscripcion</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de caducidad</Data></Cell>  
          <Cell><Data ss:Type="String">Otro</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de Otorgamiento</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>                                   
      </Row>
      <Row>
          <Cell><Data ss:Type="String">nombre</Data></Cell>
          <Cell><Data ss:Type="String">apellido_paterno</Data></Cell>
          <Cell><Data ss:Type="String">apellido_materno</Data></Cell>
          <Cell><Data ss:Type="String">sexo</Data></Cell>
          <Cell><Data ss:Type="String">fecha_de_nacimiento</Data></Cell>
          <Cell><Data ss:Type="String">programa</Data></Cell>
          <Cell><Data ss:Type="String">nacionalidad</Data></Cell>
          <Cell><Data ss:Type="String">telefono_particular</Data></Cell>
          <Cell><Data ss:Type="String">telefono_movil</Data></Cell>
          <Cell><Data ss:Type="String">otro_telefono</Data></Cell>
          <Cell><Data ss:Type="String">email</Data></Cell>
          <Cell><Data ss:Type="String">facebook</Data></Cell>
          <Cell><Data ss:Type="String">twitter</Data></Cell>
          <Cell><Data ss:Type="String">validado</Data></Cell>
          <Cell><Data ss:Type="String">importacion_revisada</Data></Cell>
          <Cell><Data ss:Type="String">importado_revisado</Data></Cell>
          <Cell><Data ss:Type="String">calle</Data></Cell>
          <Cell><Data ss:Type="String">no_interior</Data></Cell>
          <Cell><Data ss:Type="String">no_exterior</Data></Cell>
          <Cell><Data ss:Type="String">colonia</Data></Cell>
          <Cell><Data ss:Type="String">delegacion_municipio</Data></Cell>
          <Cell><Data ss:Type="String">estado</Data></Cell>
          <Cell><Data ss:Type="String">paisCódigo Postal</Data></Cell>
          <Cell><Data ss:Type="String">ultimo_grado_de_estudio</Data></Cell>
          <Cell><Data ss:Type="String">preparatoria_o_universidad_de_origen</Data></Cell>
          <Cell><Data ss:Type="String">municipio_de_la_preparatoria_o_universidad_de_origen</Data></Cell>
          <Cell><Data ss:Type="String">ano_de_graduacion</Data></Cell>
          <Cell><Data ss:Type="String">sede</Data></Cell>
          <Cell><Data ss:Type="String">subsede</Data></Cell>
          <Cell><Data ss:Type="String">nivel</Data></Cell>
          <Cell><Data ss:Type="String">turno</Data></Cell>
          <Cell><Data ss:Type="String">periodo_para_ingresar</Data></Cell>
          <Cell><Data ss:Type="String">status_de_interes_de_prospecto_validado</Data></Cell>
          <Cell><Data ss:Type="String">comentarios</Data></Cell>
          <Cell><Data ss:Type="String">opcion_1</Data></Cell>
          <Cell><Data ss:Type="String">opcion_2</Data></Cell>
          <Cell><Data ss:Type="String">opcion_3</Data></Cell>
          <Cell><Data ss:Type="String">feria_universitaria_en_su_colegio</Data></Cell>
          <Cell><Data ss:Type="String">visita_a_su_salon</Data></Cell>
          <Cell><Data ss:Type="String">recomendacion_de_un_amigo_familiar</Data></Cell>
          <Cell><Data ss:Type="String">recomendacion_de_un_egresado</Data></Cell>
          <Cell><Data ss:Type="String">sitio_oficial_web_ISEF</Data></Cell>
          <Cell><Data ss:Type="String">facebook</Data></Cell>
          <Cell><Data ss:Type="String">twitter</Data></Cell>
          <Cell><Data ss:Type="String">email_de_promocion_mailing</Data></Cell>
          <Cell><Data ss:Type="String">impreso_flyer_folleto</Data></Cell>
          <Cell><Data ss:Type="String">anuncio_publicacion_periodico_revista</Data></Cell>
          <Cell><Data ss:Type="String">llamada_telefonica_de_un_asesor</Data></Cell>
          <Cell><Data ss:Type="String">conferencia_platica_charla</Data></Cell>
          <Cell><Data ss:Type="String">sesion_informativa</Data></Cell>
          <Cell><Data ss:Type="String">visito_las_instalaciones</Data></Cell>
          <Cell><Data ss:Type="String">convenio_con_su_institucion</Data></Cell>
          <Cell><Data ss:Type="String">otro,"Otro"</Data></Cell>
          <Cell><Data ss:Type="String">Otro texto",otro_texto</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios",comentarios</Data></Cell>
          <Cell><Data ss:Type="String">descuento_en_la_inscripcion</Data></Cell>
          <Cell><Data ss:Type="String">porcentaje</Data></Cell>
          <Cell><Data ss:Type="String">fecha_de_caducidad</Data></Cell>
          <Cell><Data ss:Type="String">otro_cual</Data></Cell>
          <Cell><Data ss:Type="String">fecha_de_otorgamiento</Data></Cell>
          <Cell><Data ss:Type="String">comentarios</Data></Cell>                           
      </Row>
  <% @prospectos.each do |prospecto| %>
    <Row>
      <Cell><Data ss:Type="String"><%=printValue("Nombre(s)",prospecto.nombre)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Apellido paterno",prospecto.apellido_paterno)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Apellido materno",prospecto.apellido_materno)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Sexo",prospecto.sexo == true ? "Masculino" : "Femenino")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de nacimiento",prospecto.fecha_de_nacimiento)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.programa.nivel rescue nilvalor = valor + " - " + prospecto.programa.programa rescue nil%><%=printValue("Programa",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.nacionalidad.nacionalidad rescue nil%><%=printValue("Nacionalidad",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Teléfono particular",prospecto.telefono_particular)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Teléfono movil",prospecto.telefono_movil)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro teléfono",prospecto.otro_telefono)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("E-mail",prospecto.email)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Facebook",prospecto.facebook)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Twitter",prospecto.twitter)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue(" ",prospecto.validado == true ? "Validado" : "No Validado")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue(" ",prospecto.importado_revisado == true ? "Revisada Importacion" : "Importacion No Revisada")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Calle",prospecto.direccions.first.calle)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("No interior",prospecto.direccions.first.no_interior)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("No exterior",prospecto.direccions.first.no_exterior)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Colonia",prospecto.direccions.first.colonia)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Delegación / Municipio",prospecto.direccions.first.delegacion_municipio)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Estado",prospecto.direccions.first.estado)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Pais",prospecto.direccions.first.pais)%></Data></Cell>    <Cell><Data ss:Type="String"><%=printValue("Código Postal",prospecto.direccions.first.codigo_postal)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",prospecto.direccions.first.comentarios)%></Data></Cell> <Cell><Data ss:Type="String"><%valor=prospecto.interes_basicos.first.ultimo_grado_de_estudio.grado_de_estudio rescue nil%><%=printValue("Ultimo grado de estudios",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.preparatoria_o_universidad_de_origen.valor rescue nil%><%=printValue("Preparatoria / Universidad de origen",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.municipio_de_la_preparatoria_o_universidad_de_origen.valor rescue nil%><%=printValue("Municipio de la Preparatoria / Universidad de origen",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Año de graduación",prospecto.interes_basicos.first.ano_de_graduacion)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor =prospecto.interes_basicos.first.sede.nombre rescue nilvalor = valor + " - " + prospecto.interes_basicos.first.subsede.nombre rescue nil %><%=printValue("Sede",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.subsede.nombre rescue nil %><%=printValue("Extension de interés",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.nivel.valor rescue nil %><%=printValue("Nivel",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.turno.valor rescue nil %><%=printValue("Turno",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.periodo_para_ingresar.valor rescue nil %><%=printValue("Periodo para ingresar",valor)%> </Data></Cell>
      <Cell><Data ss:Type="String"><%valor = prospecto.interes_basicos.first.status_de_interes_de_prospecto_validado.valor rescue nil %><%=printValue("Status de interes del prospecto validado",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",prospecto.interes_basicos.first.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 1",prospecto.interes_academicos.first.opcion_1)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 2",prospecto.interes_academicos.first.opcion_2)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 3",prospecto.interes_academicos.first.opcion_3)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.feria_universitaria_en_su_colegio,"Feria universitaria")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.visita_a_su_salon,"Platica en su salón")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.recomendacion_de_un_amigo_familiar,"Recomendación de un amigo familiar")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.recomendacion_de_un_egresado,"Recomendación de un egresado")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.sitio_oficial_web_ISEF,"Sitio oficial web ISEF")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.facebook,"Facebook")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.twitter,"Twitter")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.email_de_promocion_mailing,"E-mail de promoción mailing")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.impreso_flyer_folleto,"Impreso; flyer/folleto")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.anuncio_publicacion_periodico_revista,"Anuncio/Publicación/Periódico/Revista")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.llamada_telefonica_de_un_asesor,"Llamada teléfonica de un Asesor")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.conferencia_platica_charla,"Conferencia/Plática/Charla")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.sesion_informativa,"Sesión Informativa")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.visito_las_instalaciones,"Visitó las instalaciones")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.convenio_con_su_institucion,"Convenio con su institucion")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( prospecto.medio_de_contactos.first.otro,"Otro")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro texto",prospecto.medio_de_contactos.first.otro_texto)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",prospecto.medio_de_contactos.first.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%= printDescuento(prospecto.plan_de_descuentos.first.descuento_en_la_inscripcion) %></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje",prospecto.plan_de_descuentos.first.porcentaje)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de caducidad",prospecto.plan_de_descuentos.first.fecha_de_caducidad)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro",prospecto.plan_de_descuentos.first.otro_cual)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de Otorgamiento",prospecto.plan_de_descuentos.first.fecha_de_otorgamiento)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",prospecto.plan_de_descuentos.first.comentarios)%></Data></Cell>
    </Row>
  <%end%>      
    </Table>
  </Worksheet>
</Workbook>
