<A HREF="javascript:window.print()">Has click aqui para imprimir la pagina</A>
<br/>
<A HREF="/prospectos/<%=@prospecto.id%>/printview.pdf" target="_blank">Imprimir en PDF</A>
<br/>
<A HREF="/prospectos/<%=@prospecto.id%>/printviewpdf">Enviar por correo electronico</A>
<html>

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List
href="Reporte%20de%20Prospectos%20-%20copia_files/filelist.xml">
<link rel=Edit-Time-Data
href="Reporte%20de%20Prospectos%20-%20copia_files/editdata.mso">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>israel2</o:Author>
  <o:Template>Service report.dotx</o:Template>
  <o:LastAuthor>Israel Valdez</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>36</o:TotalTime>
  <o:Created>2013-01-23T04:32:00Z</o:Created>
  <o:LastSaved>2013-01-23T04:32:00Z</o:LastSaved>
  <o:Pages>4</o:Pages>
  <o:Words>363</o:Words>
  <o:Characters>2073</o:Characters>
  <o:Lines>17</o:Lines>
  <o:Paragraphs>4</o:Paragraphs>
  <o:CharactersWithSpaces>2432</o:CharactersWithSpaces>
  <o:Version>15.00</o:Version>
 </o:DocumentProperties>
 <o:CustomDocumentProperties>
  <o:_TemplateID dt:dt="string">TC039739089991</o:_TemplateID>
 </o:CustomDocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData
href="Reporte%20de%20Prospectos%20-%20copia_files/themedata.thmx">
<link rel=colorSchemeMapping
href="Reporte%20de%20Prospectos%20-%20copia_files/colorschememapping.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:AttachedTemplate
   HRef="C:\Users\israel2\AppData\Roaming\Microsoft\Templates\Service report.dotx"></w:AttachedTemplate>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:UseWord2010TableStyleRules/>
   <w:DontGrowAutofit/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:UnderlineTabInNumList/>
   <w:HangulWidthLikeWW11/>
   <w:UseNormalStyleForList/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="false"
  DefSemiHidden="false" DefQFormat="false" LatentStyleCount="371">
  <w:LsdException Locked="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Normal Table"/>
  <w:LsdException Locked="false" Priority="99" Name="No List"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Simple 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Classic 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Colorful 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Columns 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Grid 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 4"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 5"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 6"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 7"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table List 8"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table 3D effects 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Contemporary"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Elegant"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Professional"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Subtle 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 1"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 2"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Web 3"/>
  <w:LsdException Locked="false" SemiHidden="true" UnhideWhenUsed="true"
   Name="Table Theme"/>
  <w:LsdException Locked="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:1;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:variable;
	mso-font-signature:0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:5.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
h1
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 1 Char";
	mso-style-next:Normal;
	margin-top:6.0pt;
	margin-right:.05in;
	margin-bottom:6.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:1;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;}
h2
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 2 Char";
	mso-style-next:Normal;
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:5.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:2;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;
	mso-fareast-language:JA;
	font-weight:normal;}
h3
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 3 Char";
	mso-style-next:Normal;
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:2.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:3;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;
	mso-fareast-language:JA;
	font-weight:normal;}
h4
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"Heading 3";
	mso-style-link:"Heading 4 Char";
	mso-style-next:Normal;
	margin-top:12.0pt;
	margin-right:.05in;
	margin-bottom:2.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:4;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;
	mso-fareast-language:JA;
	font-weight:normal;}
h6
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 6 Char";
	mso-style-next:Normal;
	margin-top:12.0pt;
	margin-right:.05in;
	margin-bottom:3.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:6;
	font-size:11.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 7 Char";
	mso-style-next:Normal;
	margin-top:12.0pt;
	margin-right:.05in;
	margin-bottom:3.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:7;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 8 Char";
	mso-style-next:Normal;
	margin-top:12.0pt;
	margin-right:.05in;
	margin-bottom:3.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:8;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;
	font-style:italic;}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Heading 9 Char";
	mso-style-next:Normal;
	margin-top:12.0pt;
	margin-right:.05in;
	margin-bottom:3.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	mso-outline-level:9;
	font-size:11.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{mso-style-unhide:no;
	mso-style-link:"Footer Char";
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:.05in;
	margin-bottom:.0001pt;
	text-align:center;
	mso-pagination:widow-orphan;
	tab-stops:center 3.25in right 6.5in;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#7F7F7F;
	letter-spacing:3.0pt;
	mso-fareast-language:JA;}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Title Char";
	mso-style-next:Normal;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	line-height:90%;
	mso-pagination:widow-orphan;
	font-size:28.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;}
p.MsoTitleCxSpFirst, li.MsoTitleCxSpFirst, div.MsoTitleCxSpFirst
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Title Char";
	mso-style-next:Normal;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	line-height:90%;
	mso-pagination:widow-orphan;
	font-size:28.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;}
p.MsoTitleCxSpMiddle, li.MsoTitleCxSpMiddle, div.MsoTitleCxSpMiddle
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Title Char";
	mso-style-next:Normal;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	line-height:90%;
	mso-pagination:widow-orphan;
	font-size:28.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;}
p.MsoTitleCxSpLast, li.MsoTitleCxSpLast, div.MsoTitleCxSpLast
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Title Char";
	mso-style-next:Normal;
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	line-height:90%;
	mso-pagination:widow-orphan;
	font-size:28.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{mso-style-unhide:no;
	mso-style-link:"Body Text Char";
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:12.0pt;
	margin-left:.05in;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-fareast-language:JA;}
p.MsoBodyTextCxSpFirst, li.MsoBodyTextCxSpFirst, div.MsoBodyTextCxSpFirst
	{mso-style-unhide:no;
	mso-style-link:"Body Text Char";
	mso-style-type:export-only;
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:.05in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-fareast-language:JA;}
p.MsoBodyTextCxSpMiddle, li.MsoBodyTextCxSpMiddle, div.MsoBodyTextCxSpMiddle
	{mso-style-unhide:no;
	mso-style-link:"Body Text Char";
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:.05in;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-fareast-language:JA;}
p.MsoBodyTextCxSpLast, li.MsoBodyTextCxSpLast, div.MsoBodyTextCxSpLast
	{mso-style-unhide:no;
	mso-style-link:"Body Text Char";
	mso-style-type:export-only;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:12.0pt;
	margin-left:.05in;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-fareast-language:JA;}
span.MsoPlaceholderText
	{mso-style-unhide:no;
	mso-style-parent:"";
	color:gray;}
span.MsoBookTitle
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	letter-spacing:.25pt;
	font-weight:bold;
	font-style:italic;}
p.MsoTocHeading, li.MsoTocHeading, div.MsoTocHeading
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"Heading 1";
	mso-style-next:Normal;
	margin-top:6.0pt;
	margin-right:.05in;
	margin-bottom:6.0pt;
	margin-left:.05in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	mso-font-kerning:14.0pt;
	mso-fareast-language:JA;
	font-weight:bold;}
span.TitleChar
	{mso-style-name:"Title Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:Title;
	mso-ansi-font-size:28.0pt;
	mso-bidi-font-size:28.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	letter-spacing:-.5pt;
	mso-font-kerning:14.0pt;}
span.Heading1Char
	{mso-style-name:"Heading 1 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 1";
	mso-ansi-font-size:12.0pt;
	mso-bidi-font-size:12.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";
	color:#398E98;
	mso-font-kerning:14.0pt;
	font-weight:bold;}
span.Heading2Char
	{mso-style-name:"Heading 2 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 2";
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;}
span.Heading3Char
	{mso-style-name:"Heading 3 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 3";
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;}
span.Heading4Char
	{mso-style-name:"Heading 4 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 4";
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";
	color:#276E8B;
	mso-font-kerning:11.0pt;}
span.Heading6Char
	{mso-style-name:"Heading 6 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 6";
	font-weight:bold;}
span.Heading7Char
	{mso-style-name:"Heading 7 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 7";
	mso-ansi-font-size:12.0pt;
	mso-bidi-font-size:12.0pt;}
span.Heading8Char
	{mso-style-name:"Heading 8 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 8";
	mso-ansi-font-size:12.0pt;
	mso-bidi-font-size:12.0pt;
	font-style:italic;}
span.Heading9Char
	{mso-style-name:"Heading 9 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Heading 9";
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:"Times New Roman";}
span.BodyTextChar
	{mso-style-name:"Body Text Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Body Text";
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	color:#276E8B;}
p.spacer, li.spacer, div.spacer
	{mso-style-name:spacer;
	mso-style-unhide:no;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:4.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
span.FooterChar
	{mso-style-name:"Footer Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:Footer;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	color:#7F7F7F;
	letter-spacing:3.0pt;}
span.z-TopofFormChar
	{mso-style-name:"z-Top of Form Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"z-Top of Form";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:Arial;
	display:none;
	mso-hide:all;}
span.z-BottomofFormChar
	{mso-style-name:"z-Bottom of Form Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"z-Bottom of Form";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-hansi-font-family:Arial;
	mso-bidi-font-family:Arial;
	display:none;
	mso-hide:all;}
p.Spacer0, li.Spacer0, div.Spacer0
	{mso-style-name:Spacer;
	mso-style-unhide:no;
	margin-top:0in;
	margin-right:.05in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:3.0pt;
	mso-line-height-rule:exactly;
	mso-pagination:widow-orphan;
	font-size:3.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-fareast-language:JA;}
p.Contentcontrols, li.Contentcontrols, div.Contentcontrols
	{mso-style-name:"Content controls";
	mso-style-unhide:no;
	mso-style-link:"Content controls Char";
	margin-top:5.0pt;
	margin-right:.05in;
	margin-bottom:5.0pt;
	margin-left:.05in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	color:black;
	mso-font-kerning:1.0pt;
	mso-fareast-language:JA;}
span.ContentcontrolsChar
	{mso-style-name:"Content controls Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Content controls";
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	color:black;
	mso-font-kerning:1.0pt;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:"Arial","sans-serif";
	mso-ascii-font-family:Arial;
	mso-hansi-font-family:Arial;}
 /* Page Definitions */
 @page
	{mso-footnote-separator:url("Reporte%20de%20Prospectos%20-%20copia_files/header.htm") fs;
	mso-footnote-continuation-separator:url("Reporte%20de%20Prospectos%20-%20copia_files/header.htm") fcs;
	mso-endnote-separator:url("Reporte%20de%20Prospectos%20-%20copia_files/header.htm") es;
	mso-endnote-continuation-separator:url("Reporte%20de%20Prospectos%20-%20copia_files/header.htm") ecs;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:.75in 1.0in .75in 1.0in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-title-page:yes;
	mso-footer:url("Reporte%20de%20Prospectos%20-%20copia_files/header.htm") f1;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";}
table.MsoTableGrid
	{mso-style-name:"Table Grid";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-unhide:no;
	border:solid windowtext 1.0pt;
	mso-border-alt:solid windowtext .5pt;
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-border-insideh:.5pt solid windowtext;
	mso-border-insidev:.5pt solid windowtext;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Arial","sans-serif";
	mso-bidi-font-family:"Times New Roman";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2049"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US>

<div class=WordSection1>

<p class=MsoTitle><span lang=ES>Reporte de Prospecto</span></p>

<p class=MsoNormal><span lang=ES style='font-size:16.0pt'><%=@prospecto.nombre%> <%=@prospecto.apellido_paterno%> <%=@prospecto.apellido_materno%> –
<%=@prospecto.programa.nivel rescue nil %> - <%=@prospecto.programa.programa rescue nil %></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;border-collapse:collapse;border:none'>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border-top:solid #7F7F7F 1.0pt;
  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
  padding:0in 0in 0in 0in'>
  <h2>Identificador.</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border-top:solid #7F7F7F 1.0pt;
  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Nombre(s)",@prospecto.id)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border-top:solid #7F7F7F 1.0pt;
  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
  padding:0in 0in 0in 0in'>
  <h2>Nombre(s)</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border-top:solid #7F7F7F 1.0pt;
  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
  padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Nombre(s)",@prospecto.nombre)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Apellido Paterno:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Apellido paterno",@prospecto.apellido_paterno)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Apellido Materno:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Apellido materno",@prospecto.apellido_materno)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Sexo:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Sexo",@prospecto.sexo == true ? "Masculino" : "Femenino")%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Fecha de Nacimiento:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Fecha de nacimiento",@prospecto.fecha_de_nacimiento)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Programa:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>      <%valor = @prospecto.programa.programa rescue nil
      valor = valor + " - " + @prospecto.programa.nivel rescue nil%>
      <%=printValue("Programa (producto)",valor)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Nacionalidad:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%valor = @prospecto.nacionalidad.nacionalidad rescue nil%>
      <%=printValue("Nacionalidad",valor)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Teléfono Particular:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Teléfono particular",@prospecto.telefono_particular)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Teléfono Movil:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Teléfono movil",@prospecto.telefono_movil)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Otro Teléfono:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Otro teléfono",@prospecto.otro_telefono)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>E-mail:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("E-mail",@prospecto.email)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Facebook:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Facebook",@prospecto.facebook)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Twitter:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Twitter",@prospecto.twitter)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Creado por:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>      <%valor = @prospecto.user.username rescue nil%>
      <%=printIfAvailable("Creado Por",valor)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Cuando fue creado:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Cuando fue creado",@prospecto.created_at)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Sede:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%valor=@prospecto.sede.nombre rescue nil%><%=printValue("Sede",valor)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Grupo:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%valor=@prospecto.grupo.nombre rescue nil%><%=printValue("Grupo",valor)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Validado:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue(" ",@prospecto.validado == true ? "Validado" : "No Validado")%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Importado Revisado:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue(" ",@prospecto.importado_revisado == true ? "Revisada Importacion" : "Importacion No Revisada")%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>&nbsp;</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>&nbsp;</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><b><span style='color:#276E8B'>Direccion</span></b></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Calle:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Calle",@prospecto.direccions.first.calle)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>No Interior:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("No interior",@prospecto.direccions.first.no_interior)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>No Exterior:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("No exterior",@prospecto.direccions.first.no_exterior)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Colonia:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Colonia",@prospecto.direccions.first.colonia)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Delegación/Municipio:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Delegación / Municipio",@prospecto.direccions.first.delegacion_municipio)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Estado:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Estado",@prospecto.direccions.first.estado)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Pais:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Pais",@prospecto.direccions.first.pais)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Codigo Postal:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%=printValue("Código Postal",@prospecto.direccions.first.codigo_postal)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Comentarios:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>&nbsp;</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><%=printValue("Comentarios",@prospecto.direccions.first.comentarios)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <h2><b>&nbsp;</b></h2>
  <p class=MsoNormal>&nbsp;</p>
  <h2><b>Interes Basico</b></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>&nbsp;</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Último grado de estudios:</h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%valor=@prospecto.interes_basicos.first.ultimo_grado_de_estudio.grado_de_estudio rescue nil%>
          <%=printValue("Ultimo grado de estudios",valor)%></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2>Preparatoria/Universidad de Procendencia:</h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><%valor = @prospecto.interes_basicos.first.preparatoria_o_universidad_de_origen.valor rescue nil%>
          <%=printValue("Preparatoria / Universidad de origen",valor)%></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Municipio de la Preparatoria/Universidad de Procedencia:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%valor = @prospecto.interes_basicos.first.municipio_de_la_preparatoria_o_universidad_de_origen.valor rescue nil%>
          <%=printValue("Municipio de la Preparatoria / Universidad de origen",valor)%></span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Año de Graduación:</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Año de graduación",@prospecto.interes_basicos.first.ano_de_graduacion)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Sede de Interés:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%valor =@prospecto.interes_basicos.first.sede.nombre rescue nil%>
          <%=printValue("Sede y subsede de interés",valor)%></span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Sub sede de Interés:</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%
          valor =@prospecto.interes_basicos.first.subsede.nombre rescue nil %>
          <%=printValue("Sede y subsede de interés",valor)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Modalidad:</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%valor = @prospecto.interes_basicos.first.modalidad.valor rescue nil %>
          <%=printValue("Modalidad",valor)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Periodo para Ingresar:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%valor = @prospecto.interes_basicos.first.periodo_para_ingresar.valor rescue nil %>
          <%=printValue("Periodo para ingresar",valor)%> </span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Status de Interés del prospecto validado:</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%valor = @prospecto.interes_basicos.first.status_de_interes_de_prospecto_validado.valor rescue nil %>
          <%=printValue("Status de interes del prospecto validado",valor)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Comentarios:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES><%=printValue("Comentarios",@prospecto.interes_basicos.first.comentarios)%></span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal style='margin-left:0in'><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Interés Academico</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Opcion 1:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES><%=printValue("Opción 1",@prospecto.interes_academicos.first.opcion_1)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Opcion 2:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES><%=printValue("Opción 2",@prospecto.interes_academicos.first.opcion_2)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Opcion 3:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES><%=printValue("Opción 3",@prospecto.interes_academicos.first.opcion_3)%></span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  <p class=MsoNormal style='margin-left:0in'><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Medio de Contacto</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Medio de Contacto:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES>        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.feria_universitaria_en_su_colegio,"Feria universitaria")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.visita_a_su_salon,"Platica en su salón")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.recomendacion_de_un_amigo_familiar,"Recomendación de un amigo familiar")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.recomendacion_de_un_egresado,"Recomendación de un egresado")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.sitio_oficial_web_ISEF,"Sitio oficial web ISEF")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.facebook,"Facebook")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.twitter,"Twitter")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.email_de_promocion_mailing,"E-mail de promoción mailing")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.impreso_flyer_folleto,"Impreso; flyer/folleto")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.anuncio_publicacion_periodico_revista,"Anuncio/Publicación/Periódico/Revista")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.llamada_telefonica_de_un_asesor,"Llamada teléfonica de un Asesor")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.conferencia_platica_charla,"Conferencia/Plática/Charla")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.sesion_informativa,"Sesión Informativa")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.visito_las_instalaciones,"Visitó las instalaciones")%></b>
        </p>

        <p>
          <b><%=printMedio( @prospecto.medio_de_contactos.first.convenio_con_su_institucion,"Convenio con su institucion")%></b>
        </p></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Otro:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Otro texto",@prospecto.medio_de_contactos.first.otro_texto)%></span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Comentarios:</span></h2>
  </td>
  <td width="74%" colspan=3 valign=top style='width:74.82%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Comentarios",@prospecto.medio_de_contactos.first.comentarios)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Plan de Descuentos</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>&nbsp;</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Descuento en la inscripción:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%= printDescuento(@prospecto.plan_de_descuentos.first.descuento_en_la_inscripcion) %></span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Porcentaje:</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Porcentaje",@prospecto.plan_de_descuentos.first.porcentaje)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Fecha de caducidad:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Fecha de caducidad",@prospecto.plan_de_descuentos.first.fecha_de_caducidad)%></span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Otro (Cual?):</span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES><%=printValue("Otro",@prospecto.plan_de_descuentos.first.otro_cual)%></span></p>
  </td>
 </tr>
 <tr>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES>Comentarios:</span></h2>
  </td>
  <td width="24%" valign=top style='width:24.58%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES>&nbsp;</span></p>
  </td>
  <td width="25%" valign=top style='width:25.18%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
  <h2><span lang=ES style='mso-ansi-language:ES'>Fecha de otorgamiento:<o:p></o:p></span></h2>
  </td>
  <td width="25%" valign=top style='width:25.06%;border:none;border-bottom:
  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
  <p class=MsoNormal><span lang=ES style='mso-ansi-language:ES'><%=printValue("Otro",@prospecto.plan_de_descuentos.first.fecha_de_otorgamiento)%><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style='height:43.5pt'>
  <td width="100%" colspan=4 valign=top style='width:100.0%;border:none;
  border-bottom:solid #7F7F7F 1.0pt;padding:0in 0in 0in 0in;height:43.5pt'>
  <p class=MsoNormal><span lang=ES><%=printValue("Comentarios",@prospecto.plan_de_descuentos.first.comentarios)%></span></p>
  </td>
 </tr>
</table>


<p class=MsoNormal><o:p>&nbsp;</o:p></p>


<h1>Seguimientos</h1>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>
<%
@tareas = Tarea.where(:model_name=>'prospectos').where(:model_id=>@prospecto.id).all
%>
<%@tareas.each do |tarea|%>
	<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="106%"
	 style='width:106.74%;border-collapse:collapse;border:none;mso-border-top-alt:
	 solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;mso-yfti-tbllook:
	 1184;mso-padding-alt:0in 0in 0in 0in;mso-border-insideh:.5pt solid #7F7F7F'>
	 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
	  <td width="20%" valign=top style='width:20.24%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <h2 style='margin-left:0in'><b style='mso-bidi-font-weight:normal'>Tarea<o:p></o:p></b></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:1'>
	  <td width="20%" valign=top style='width:20.24%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2>Nombre:<o:p></o:p></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <p class=MsoNormal><em><span style='font-family:"Arial","sans-serif";
	  mso-bidi-font-family:"Times New Roman";font-style:normal;mso-bidi-font-style:
	  italic'><%=tarea.nombre rescue nil%><o:p></o:p></span></em></p>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2>Descripcion:</h2>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.descripcion rescue nil%></span></em><i style='mso-bidi-font-style:
	  normal'><o:p></o:p></i></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:2'>
	  <td width="20%" valign=top style='width:20.24%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Fecha de Inicio:<o:p></o:p></span></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.fecha_de_inicio_de_la_tarea rescue nil%></span></em><i style='mso-bidi-font-style:
	  normal'><span lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></i></h2>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Hora Inicio:<o:p></o:p></span></h2>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.hora_de_inicio rescue nil%></span></em><span lang=ES
	  style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:3'>
	  <td width="20%" valign=top style='width:20.24%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Fecha de Fin:<o:p></o:p></span></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.fecha_de_fin_de_la_tarea rescue nil%></span></em><span lang=ES
	  style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Hora de Fin:<o:p></o:p></span></h2>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.hora_de_fin rescue nil%></span></em><i style='mso-bidi-font-style:
	  normal'><span lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></i></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:4'>
	  <td width="20%" valign=top style='width:20.24%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Creada Por:<o:p></o:p></span></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=User.where(:id=>tarea.created_by).first.username rescue nil%></span></em><i style='mso-bidi-font-style:
	  normal'><span lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></i></h2>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:5;mso-yfti-lastrow:yes'>
	  <td width="20%" valign=top style='width:20.24%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Comentarios<o:p></o:p></span></h2>
	  </td>
	  <td width="15%" valign=top style='width:15.36%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><em><span style='font-family:"Arial","sans-serif";mso-bidi-font-family:
	  "Times New Roman";color:windowtext;mso-font-kerning:0pt;font-style:normal;
	  mso-bidi-font-style:italic'><%=tarea.comentarios rescue nil%></span></em><i style='mso-bidi-font-style:
	  normal'><span lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></i></h2>
	  </td>
	  <td width="12%" valign=top style='width:12.46%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="51%" valign=top style='width:51.94%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	</table>
<%end%>
<p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<%llamadas=Llamada.where(:model_name=>'prospectos').where(:model_id=>@prospecto.id).all%>
<%llamadas.each do |llamada|%>
	<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="106%"
	 style='width:106.74%;border-collapse:collapse;border:none;mso-border-top-alt:
	 solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;mso-yfti-tbllook:
	 1184;mso-padding-alt:0in 0in 0in 0in;mso-border-insideh:.5pt solid #7F7F7F'>
	 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
	  <td width="23%" valign=top style='width:23.6%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <h2 style='margin-left:0in'><b style='mso-bidi-font-weight:normal'>Llamadas<o:p></o:p></b></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:1'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2>Asunto:<o:p></o:p></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.asunto rescue nil%><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><o:p>&nbsp;</o:p></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><o:p>&nbsp;</o:p></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:2'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Inicio de la llamada<o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.inicio_de_la_llamada rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Tiempo de Inicio<o:p></o:p></span></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2 style='margin-left:0in'><span style='color:black;mso-themecolor:text1'><%=llamada.tiempo_de_inicio rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:3'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Fin de la llamada<o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.fin_de_la_llamada rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Duracion<o:p></o:p></span></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.tiempo_de_fin rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:4'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Estado<o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.estado rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Aviso<o:p></o:p></span></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.aviso rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:5'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Creada Por<o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=User.Where(:id=>tarea.created_by).first.username rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes'>
	  <td width="23%" valign=top style='width:23.6%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Comentarios<o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.56%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=llamada.comentarios rescue nil%></span><span
	  lang=ES style='mso-ansi-language:ES'><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.58%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="55%" valign=top style='width:55.28%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	</table>
<%end%>
<p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<%memos=Memo.where(:model_name=>'prospectos').where(:model_id=>@prospecto.id).all%>
	<%memos.each do |memo|%>
	<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="106%"
	 style='width:106.74%;border-collapse:collapse;border:none;mso-border-top-alt:
	 solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;mso-yfti-tbllook:
	 1184;mso-padding-alt:0in 0in 0in 0in;mso-border-insideh:.5pt solid #7F7F7F'>
	 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
	  <td width="22%" valign=top style='width:22.2%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <h2 style='margin-left:0in'><b style='mso-bidi-font-weight:normal'>Notas<o:p></o:p></b></h2>
	  </td>
	  <td width="13%" valign=top style='width:13.9%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="10%" valign=top style='width:10.02%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	  <td width="53%" valign=top style='width:53.86%;border-top:solid #7F7F7F 1.0pt;
	  border-left:none;border-bottom:solid #7F7F7F 1.0pt;border-right:none;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;
	  padding:0in 0in 0in 0in'>
	  <p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:1'>
	  <td width="22%" valign=top style='width:22.2%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2>Nombre:<o:p></o:p></h2>
	  </td>
	  <td width="13%" valign=top style='width:13.9%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span style='color:black;mso-themecolor:text1'><%=memo.nombre rescue nil%><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.02%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><o:p>&nbsp;</o:p></h2>
	  </td>
	  <td width="53%" valign=top style='width:53.86%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><o:p>&nbsp;</o:p></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:2'>
	  <td width="22%" valign=top style='width:22.2%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Descripcion<o:p></o:p></span></h2>
	  </td>
	  <td width="13%" valign=top style='width:13.9%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='color:black;mso-themecolor:text1;mso-ansi-language:
	  ES'><%=memo.descripcion rescue nil%><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.02%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="53%" valign=top style='width:53.86%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:3'>
	  <td width="22%" valign=top style='width:22.2%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Creado Por<o:p></o:p></span></h2>
	  </td>
	  <td width="13%" valign=top style='width:13.9%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='color:black;mso-themecolor:text1;mso-ansi-language:
	  ES'><%=User.Where(:id=>memo.created_by).first.username rescue nil%><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.02%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="53%" valign=top style='width:53.86%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	 <tr style='mso-yfti-irow:4;mso-yfti-lastrow:yes'>
	  <td width="22%" valign=top style='width:22.2%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'>Comentarios<o:p></o:p></span></h2>
	  </td>
	  <td width="13%" valign=top style='width:13.9%;border:none;border-bottom:solid #7F7F7F 1.0pt;
	  mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:solid #7F7F7F .5pt;
	  mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='color:black;mso-themecolor:text1;mso-ansi-language:
	  ES'><%=memo.comentarios rescue nil%><o:p></o:p></span></h2>
	  </td>
	  <td width="10%" valign=top style='width:10.02%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	  <td width="53%" valign=top style='width:53.86%;border:none;border-bottom:
	  solid #7F7F7F 1.0pt;mso-border-top-alt:solid #7F7F7F .5pt;mso-border-top-alt:
	  solid #7F7F7F .5pt;mso-border-bottom-alt:solid #7F7F7F .5pt;padding:0in 0in 0in 0in'>
	  <h2><span lang=ES style='mso-ansi-language:ES'><o:p>&nbsp;</o:p></span></h2>
	  </td>
	 </tr>
	</table>
<%end%>
<p class=MsoNormal style='margin-left:0in'><o:p>&nbsp;</o:p></p>


</div>

</body>

</html>
