
aaaa
<div class="form-actions">
  <%= link_to 'Back', prospectos_path(:validado=>@prospecto.validado), :class => 'btn'  %>
  <%= link_to 'Edit', edit_prospecto_path(@prospecto), :class => 'btn' %>
          <% if (@prospecto.validado == false) %>
          <%= link_to 'Validar Prospecto',validar_path,:confirm => "Estas seguro de querer continuar?", :class=>'btn btn-success', :method=>'post', :id=>'validar',:rel=>'popover',:data => {:content => 'Usa este boton para convertir el prospecto en validado.',"origintal-title"=>'Test',:notooltip=>'true'} %>
        <%else%>
          <%if not @prospecto.issolicitante?%>
            <%= link_to 'Convertir en Solicitante', convertir_path,:confirm => "Estas seguro de querer continuar?", :class=>'btn btn-info', :method=>'post', :id=>'convertir' %>
          <%end%>
        <%end%>
        <%if not @prospecto.issolicitante%>
  <%= link_to 'Delete', prospecto_path(@prospecto), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%end%>
</div>
