<%= form_for @reportsortby, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Reportsortby</legend>

    <div class="control-group">
      <%= f.label :fieldname, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fieldname, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :report_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :report_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', reportsortbies_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
