<%- model_class = StatusRefPagoInsc.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @status_ref_pago_inscs.each do |status_ref_pago_insc| %>
      <tr>
        <td><%= link_to status_ref_pago_insc.id, status_ref_pago_insc_path(status_ref_pago_insc) %></td>
        <td><%= status_ref_pago_insc.valor %></td>
        <td><%=l status_ref_pago_insc.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_status_ref_pago_insc_path(status_ref_pago_insc), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      status_ref_pago_insc_path(status_ref_pago_insc),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_status_ref_pago_insc_path,
            :class => 'btn btn-primary' %>
