<%- model_class = EquipoDeAltoRendimiento.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:periodo_anual) %></th>
      <th><%= model_class.human_attribute_name(:sede_id) %></th>
      <th><%= model_class.human_attribute_name(:nombre_completo) %></th>
      <th><%= model_class.human_attribute_name(:cargo) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @equipo_de_alto_rendimientos.each do |equipo_de_alto_rendimiento| %>
      <tr>
        <td><%= link_to equipo_de_alto_rendimiento.id, equipo_de_alto_rendimiento_path(equipo_de_alto_rendimiento) %></td>
        <td><%= equipo_de_alto_rendimiento.periodo_anual %></td>
        <td><%
         elPrograma = Sede.where(:id=>equipo_de_alto_rendimiento.sede_id).first
    %>
    <%=elPrograma.nombre%></td>
        <td><%= equipo_de_alto_rendimiento.nombre_completo %></td>
        <td><%= equipo_de_alto_rendimiento.cargo %></td>
        <td><%=l equipo_de_alto_rendimiento.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_equipo_de_alto_rendimiento_path(equipo_de_alto_rendimiento), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      equipo_de_alto_rendimiento_path(equipo_de_alto_rendimiento),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_equipo_de_alto_rendimiento_path,
            :class => 'btn btn-primary' %>
