<%= simple_form_for @configuracione, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :mostrar_archivados %>
  <%= f.hidden_field :user_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                configuraciones_path, :class => 'btn' %>
  </div>
<% end %>
