<%= simple_form_for @configuracione, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :mostrar_archivados %>
  <%= f.input :LimiteReportes %>
  <%
rol = Role.where(:id=>current_user.role).first
test = rol.nombre + " - " + rol.descripcion rescue "Sin Rol"
  %>

<div class="control-group integer optional disabled configuracione_user_id">
	<label class="integer optional control-label" for="configuracione_user_id">Rol</label>
	<div class="controls">
		<input class="optional disabled" disabled="disabled" value="<%=test%>">
	</div>
</div>



<div class="control-group integer optional disabled configuracione_user_id">
	<label class="integer optional control-label" for="configuracione_user_id">Email Registrado</label>
	<div class="controls">
		<input class="optional disabled" disabled="disabled" value="<%=current_user.email%>">
	</div>
</div>



  <%= f.hidden_field :user_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
