<%=render :partial=>"shared/breadcrumbs", :locals=>{:model_name=>request.path_parameters[:controller],:model_id=>@post.id, :parent_model=>@post.model_name, :parent_id=>@post.model_id}%>
<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', posts_path, :class => 'btn' %>
      <% if request.path_parameters[:action] =="edit" %>
        <a class="btn btn-primary" href="/posts/<%=@post.id%>/send_post">Post a Facebook</a>
      <%end%>
  <fieldset>      
    <legend><%= controller.action_name.capitalize %> Post</legend>

    <div class="control-group">
      <%= f.label :mensaje, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mensaje, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :whensaved, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :whensaved, :class => 'date_select' %>
      </div>
    </div>


    <%= f.hidden_field :created_by%>
    <%= f.association :user, :collection => User.where(:id => @post.created_by), :label_method => :username, :value_method => :id , :disabled=>true,:label=>"Creado por",:include_blank => false%>
    <%= f.association :user,:label_method=>:username,:include_blank => false%>
    <%= f.association :sede,:label_method=>:nombre,:include_blank => false%>  
    <%=f.hidden_field :model_name %>
    <%=f.hidden_field :model_id %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', posts_path, :class => 'btn' %>
      <% if request.path_parameters[:action] =="edit" %>
        <a class="btn btn-primary" href="/posts/<%=@post.id%>/send_post">Post a Facebook</a>
      <%end%>
    </div>
  </fieldset>
<% end %>
