<%= simple_form_for @achievment, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                achievments_path, :class => 'btn' %>
<%=render :partial=>"shared/breadcrumbs", :locals=>{:model_name=>request.path_parameters[:controller],:model_id=>@achievment.id, :parent_model=>nil}%>




<div class="tabbable" style="margin-bottom: 18px;">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Mis Metas</a></li>
      <li class=""><a href="#tab2" data-toggle="tab">Mis Logros</a></li>
      <li class=""><a href="#tab3" data-toggle="tab">SPV - Desercion</a></li>
    </ul>
  <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p>
            <%= f.input :periodo_anual %>
            <%
            rol = Role.where(:id=>current_user.role).first
            if rol.nombre == "DN" or rol.nombre == "ACRM" 
            %>
            <%= f.association :sede, :include_blank=>false,:label_method=>:nombre,:label=>"Sede"%>
            <%else%>
            <%= f.hidden_field :sede_id,:label=>"Sede",:value=>current_user.sede.id%>
            <%end%>
            <%= f.input :fecha_de_inicio, :label=>"Fecha de inicio de proyecto" do %>
              <div class="input-append date datepicker" data-date="<%=DateTime.now.strftime('%Y/%m/%d')%>" data-date-format="yyyy/mm/dd">
                <%= f.text_field :fecha_de_inicio%>
                <span class="add-on"><i class="icon-th"></i></span>
              </div>  
            <%end%>
            <%= f.association :nivel, :include_blank=>false,:label_method=>:valor,:label=>"Nivel"%>
            <%=f.input :programa_id,:label=>"Programa" do%>
              <%= f.select :programa_id , Programa.all.map{ |c| ["" + c.nivel + "-" + c.programa, c.id] }%>
            <%end%>            
            <%= f.input :ciudad_de_apertura %>
            <%= f.input :estado_de_apertura %>
            <%= f.association :modalidad,:include_blank => false, :label_method => :valor , :label=>"Modalidad"%>
            <%= f.association :turno, :include_blank=>false,:label_method=>:valor,:label=>"Turno"%>
            <%= f.input :horarios %>
            <%= f.input :horarios_text %>
            <%= f.input :lugar_donde_se_impartiran_las_clases,:label=>"Lugar donde se impartirán las clases" %>



            <%= f.association :user,:label_method=>:username,:disabled=>true,:include_blank => false, :label=>"Asesor a cargo",:selected=>current_user.id%>



            <%= f.input :status_de_fecha_de_apertura, :label=>"Estatus de fecha de apertura" do %>
              <div class="input-append date datepicker" data-date="<%=DateTime.now.strftime('%Y/%m/%d')%>" data-date-format="yyyy/mm/dd">
                <%= f.text_field :status_de_fecha_de_apertura%>
                <span class="add-on"><i class="icon-th"></i></span>
              </div>  
            <%end%>
            <%= f.input :meta_de_alumnos %>
            <%= f.input :meta_de_enteros %>
            <%= f.input :viabilidad_de_la_apertura %>
        </p>
      </div>
      <div class="tab-pane" id="tab2">
        <p>
			<%= f.input :fecha_exacta_que_abrio,:label=>"Fecha exacta que abrió" do %>
             <div class="input-append date datepicker" data-date="2012/12/12" data-date-format="yyyy/mm/dd">
               <%= f.text_field :fecha_exacta_que_abrio %>
			   <span class="add-on"><i class="icon-th"></i></span>
             </div>  
			<%end%>			
            <%= f.input :alumnos_de_nuevo_ingreso %>
            <%= f.input :enteros_de_nuevo_ingreso %>
            <%= f.input :indicador_de_resultados_alumnos %>
            <%= f.input :indicador_de_resultados_enteros %>
            <%= f.input :nombre_del_responsable_de_los_datos %>
            <%= f.input :mis_logros_observaciones %>
        </p>
      </div>
      <div class="tab-pane" id="tab3">
        <p>
            <%= f.input :alumnos_al_termino_del_1er_trim_sem,:label=>"Alumnos al término del 1er trim sem" %>
            <%= f.input :enteros_al_termino_del_1er_trim_sem,:label=>"Enteros al término del 1er trim sem" %>
            <%= f.input :porcentaje_de_desercion_alumnos_al_1er_trim_sem,:label=>"Porcentaje de deserción alumnos al 1er trim sem" %>
            <%= f.input :porcentaje_de_desercion_enteros_al_1er_trim_sem,:label=>"Porcentaje de deserción enteros al 1er trim sem"  %>
            <%= f.input :mis_logros_nombre_del_responsable_de_los_datos %>
            <%= f.input :spv_observaciones_0 %>
            <%= f.input :alumnos_al_termino_del_2er_trim_sem %>
            <%= f.input :enteros_al_termino_del_2er_trim_sem %>
            <%= f.input :porcentaje_de_desercion_alumnos_al_2er_trim_sem %>
            <%= f.input :porcentaje_de_desercion_enteros_al_2er_trim_sem %>
            <%= f.input :spv_nombre_del_responsable_de_los_datos %>
            <%= f.input :spv_observaciones_1 %>
        </p>
      </div>  
    </div>


  </div>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                achievments_path, :class => 'btn' %>
  </div>
<% end %>
<script type="text/javascript">
(function($) {
$(document).ready(function(){
  $('.datepicker').datepicker();
});
})(jQuery);

</script>