<%- model_class = @achievment.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>
<div class="well">
<dl class="dl-vertical">
  <dt><strong><%= model_class.human_attribute_name(:periodo_anual) %>:</strong></dt>
  <dd><%= @achievment.periodo_anual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sede_id) %>:</strong></dt>
  <dd><%= @achievment.sede.nombre %></dd>
  <dd><%= @achievment.clave_del_programa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_de_inicio) %>:</strong></dt>
  <dd><%= @achievment.fecha_de_inicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nivel_id) %>:</strong></dt>
  <dd><%= @achievment.nivel.valor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:programa_id) %>:</strong></dt>
  <dd><%= @achievment.programa.nivel %> - <%= @achievment.programa.programa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ciudad_de_apertura) %>:</strong></dt>
  <dd><%= @achievment.ciudad_de_apertura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_de_apertura) %>:</strong></dt>
  <dd><%= @achievment.estado_de_apertura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modalidad) %>:</strong></dt>
  <dd><%= @achievment.modalidad.valor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:turno_id) %>:</strong></dt>
  <dd><%= @achievment.turno.valor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:horarios) %>:</strong></dt>
  <dd><%= @achievment.horarios %></dd>
  <dt><strong><%= model_class.human_attribute_name(:horarios_text) %>:</strong></dt>
  <dd><%= @achievment.horarios_text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lugar_donde_se_impartiran_las_clases) %>:</strong></dt>
  <dd><%= @achievment.lugar_donde_se_impartiran_las_clases %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asesor_a_cargo) %>:</strong></dt>
  <dd><%= @achievment.asesor_a_cargo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_de_fecha_de_apertura) %>:</strong></dt>
  <dd><%= @achievment.status_de_fecha_de_apertura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meta_de_alumnos) %>:</strong></dt>
  <dd><%= @achievment.meta_de_alumnos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meta_de_enteros) %>:</strong></dt>
  <dd><%= @achievment.meta_de_enteros %></dd>
  <dt><strong><%= model_class.human_attribute_name(:viabilidad_de_la_apertura) %>:</strong></dt>
  <dd><%= @achievment.viabilidad_de_la_apertura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_exacta_que_abrio) %>:</strong></dt>
  <dd><%= @achievment.fecha_exacta_que_abrio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alumnos_de_nuevo_ingreso) %>:</strong></dt>
  <dd><%= @achievment.alumnos_de_nuevo_ingreso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enteros_de_nuevo_ingreso) %>:</strong></dt>
  <dd><%= @achievment.enteros_de_nuevo_ingreso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:indicador_de_resultados_alumnos) %>:</strong></dt>
  <dd><%= @achievment.indicador_de_resultados_alumnos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:indicador_de_resultados_enteros) %>:</strong></dt>
  <dd><%= @achievment.indicador_de_resultados_enteros %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_del_responsable_de_los_datos) %>:</strong></dt>
  <dd><%= @achievment.nombre_del_responsable_de_los_datos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mis_logros_observaciones) %>:</strong></dt>
  <dd><%= @achievment.mis_logros_observaciones %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alumnos_al_termino_del_1er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.alumnos_al_termino_del_1er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enteros_al_termino_del_1er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.enteros_al_termino_del_1er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:porcentaje_de_desercion_alumnos_al_1er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.porcentaje_de_desercion_alumnos_al_1er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:porcentaje_de_desercion_enteros_al_1er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.porcentaje_de_desercion_enteros_al_1er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mis_logros_nombre_del_responsable_de_los_datos) %>:</strong></dt>
  <dd><%= @achievment.mis_logros_nombre_del_responsable_de_los_datos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spv_observaciones_0) %>:</strong></dt>
  <dd><%= @achievment.spv_observaciones_0 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alumnos_al_termino_del_2er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.alumnos_al_termino_del_2er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enteros_al_termino_del_2er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.enteros_al_termino_del_2er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:porcentaje_de_desercion_alumnos_al_2er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.porcentaje_de_desercion_alumnos_al_2er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:porcentaje_de_desercion_enteros_al_2er_trim_sem) %>:</strong></dt>
  <dd><%= @achievment.porcentaje_de_desercion_enteros_al_2er_trim_sem %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spv_nombre_del_responsable_de_los_datos) %>:</strong></dt>
  <dd><%= @achievment.spv_nombre_del_responsable_de_los_datos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:spv_observaciones_1) %>:</strong></dt>
  <dd><%= @achievment.spv_observaciones_1 %></dd>
</dl>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              achievments_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_achievment_path(@achievment), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              achievment_path(@achievment),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
