<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
          <Cell><Data ss:Type="String">ID</Data></Cell>
          <Cell><Data ss:Type="String">Usuario</Data></Cell>
          <Cell><Data ss:Type="String">Nombre(s)</Data></Cell>
          <Cell><Data ss:Type="String">Apellido paterno</Data></Cell>
          <Cell><Data ss:Type="String">Apellido materno</Data></Cell>
          <Cell><Data ss:Type="String">Sexo</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de nacimiento</Data></Cell>
          <Cell><Data ss:Type="String">Programa</Data></Cell>
          <Cell><Data ss:Type="String">Nacionalidad</Data></Cell>
          <Cell><Data ss:Type="String">Teléfono particular</Data></Cell>
          <Cell><Data ss:Type="String">Teléfono movil</Data></Cell>
          <Cell><Data ss:Type="String">Otro teléfono</Data></Cell>
          <Cell><Data ss:Type="String">E-mail</Data></Cell>
          <Cell><Data ss:Type="String">Facebook</Data></Cell>
          <Cell><Data ss:Type="String">Twitter</Data></Cell>
          <Cell><Data ss:Type="String">Validado</Data></Cell>
          <Cell><Data ss:Type="String">Revisada Importacion</Data></Cell>
          <Cell><Data ss:Type="String">Solicita PAA (Prueba de Aptitud Academica)</Data></Cell>
          <Cell><Data ss:Type="String">Fecha programada para PAA</Data></Cell>
          <Cell><Data ss:Type="String">Hora programada PAA</Data></Cell>
          <Cell><Data ss:Type="String">Solicita Psicometría</Data></Cell>
          <Cell><Data ss:Type="String">Fecha programada para examen Psicométrico</Data></Cell>
          <Cell><Data ss:Type="String">Hora programada Psicométrico</Data></Cell>
          <Cell><Data ss:Type="String">Solicita Entrevista Académica</Data></Cell>
          <Cell><Data ss:Type="String">Fecha programada para Entrevista</Data></Cell>
          <Cell><Data ss:Type="String">Hora programada Entrevista</Data></Cell>
          <Cell><Data ss:Type="String">Status de pago de Examen de Admisión</Data></Cell>
          <Cell><Data ss:Type="String">Promedio</Data></Cell>
          <Cell><Data ss:Type="String">Tipo de admisión</Data></Cell>
          <Cell><Data ss:Type="String">Fecha límite de pago Examen de Admisión</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Solicitud de beca / crédito</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje de Beca solicitado</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje de Crédito solicitado</Data></Cell>
          <Cell><Data ss:Type="String">Estimado de pago mensual de colegiatura</Data></Cell>
          <Cell><Data ss:Type="String">Status de ESE</Data></Cell>
          <Cell><Data ss:Type="String">Status de pago ESE</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje de Beca sugerido ESE</Data></Cell>
          <Cell><Data ss:Type="String">Fecha límite de aplicación ESE</Data></Cell>
          <Cell><Data ss:Type="String">Fecha límite de pago ESE</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje de crédito sugerido ESE</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Status del Trámite</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje de Beca Concedido</Data></Cell>
          <Cell><Data ss:Type="String">Calle</Data></Cell>
          <Cell><Data ss:Type="String">No interior</Data></Cell>
          <Cell><Data ss:Type="String">No exterior</Data></Cell>
          <Cell><Data ss:Type="String">Colonia</Data></Cell>
          <Cell><Data ss:Type="String">Delegación / Municipio</Data></Cell>
          <Cell><Data ss:Type="String">Estado</Data></Cell>
          <Cell><Data ss:Type="String">Pais</Data></Cell>
          <Cell><Data ss:Type="String">Código Postal</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Ultimo grado de estudios</Data></Cell>
          <Cell><Data ss:Type="String">Preparatoria / Universidad de origen</Data></Cell>
          <Cell><Data ss:Type="String">Municipio de la Preparatoria / Universidad de origen</Data></Cell>
          <Cell><Data ss:Type="String">Año de graduación</Data></Cell>
          <Cell><Data ss:Type="String">Sede y subsede de interés</Data></Cell>
          <Cell><Data ss:Type="String">Nivel</Data></Cell>
          <Cell><Data ss:Type="String">Turno</Data></Cell>
          <Cell><Data ss:Type="String">Periodo para ingresar</Data></Cell>
          <Cell><Data ss:Type="String">Status de interes del solicitante.prospectos.first validado</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>
          <Cell><Data ss:Type="String">Opción 1</Data></Cell>
          <Cell><Data ss:Type="String">Opción 2</Data></Cell>
          <Cell><Data ss:Type="String">Opción 3</Data></Cell>
          <Cell><Data ss:Type="String">Feria universitaria</Data></Cell>
          <Cell><Data ss:Type="String">Platica en su salón"</Data></Cell>
          <Cell><Data ss:Type="String">Recomendación de un amigo familiar</Data></Cell>
          <Cell><Data ss:Type="String">Recomendación de un egresado</Data></Cell>
          <Cell><Data ss:Type="String">Sitio oficial web ISEF</Data></Cell>
          <Cell><Data ss:Type="String">Facebook</Data></Cell>
          <Cell><Data ss:Type="String">Twitter</Data></Cell>   
          <Cell><Data ss:Type="String">E-mail de promoción mailing</Data></Cell>
          <Cell><Data ss:Type="String">Impreso; flyer/folleto</Data></Cell>
          <Cell><Data ss:Type="String">Anuncio/Publicación/Periódico/Revista</Data></Cell>
          <Cell><Data ss:Type="String">Llamada teléfonica de un Asesor</Data></Cell>
          <Cell><Data ss:Type="String">Conferencia/Plática/Charla</Data></Cell>
          <Cell><Data ss:Type="String">Sesión Informativa</Data></Cell>
          <Cell><Data ss:Type="String">Visitó las instalaciones</Data></Cell>  
          <Cell><Data ss:Type="String">Convenio con su institucion</Data></Cell>
          <Cell><Data ss:Type="String">Otro</Data></Cell>
          <Cell><Data ss:Type="String">Otro texto</Data></Cell>
          <Cell><Data ss:Type="String">Commentiarios</Data></Cell>
          <Cell><Data ss:Type="String">Descuento en la inscripcion</Data></Cell>
          <Cell><Data ss:Type="String">Porcentaje</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de caducidad</Data></Cell>  
          <Cell><Data ss:Type="String">Otro</Data></Cell>
          <Cell><Data ss:Type="String">Fecha de Otorgamiento</Data></Cell>
          <Cell><Data ss:Type="String">Comentarios</Data></Cell>                                   
      </Row>

  <% @solicitantes.each do |solicitante| %>
    <Row>
      <Cell><Data ss:Type="String"><%=printValue("ID",solicitante.id)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Usuario",solicitante.prospectos.first.user.username)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Nombre(s)",solicitante.prospectos.first.nombre)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Apellido paterno",solicitante.prospectos.first.apellido_paterno)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Apellido materno",solicitante.prospectos.first.apellido_materno)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Sexo",solicitante.prospectos.first.sexo == true ? "Masculino" : "Femenino")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de nacimiento",solicitante.prospectos.first.fecha_de_nacimiento)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.programa.nivel rescue nilvalor = valor + " - " + solicitante.prospectos.first.programa.programa rescue nil%><%=printValue("Programa",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.nacionalidad.nacionalidad rescue nil%><%=printValue("Nacionalidad",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Teléfono particular",solicitante.prospectos.first.telefono_particular)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Teléfono movil",solicitante.prospectos.first.telefono_movil)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro teléfono",solicitante.prospectos.first.otro_telefono)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("E-mail",solicitante.prospectos.first.email)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Facebook",solicitante.prospectos.first.facebook)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Twitter",solicitante.prospectos.first.twitter)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue(" ",solicitante.prospectos.first.validado == true ? "Validado" : "No Validado")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue(" ",solicitante.prospectos.first.importado_revisado == true ? "Revisada Importacion" : "Importacion No Revisada")%></Data></Cell>      
      <Cell><Data ss:Type="String"><%=printValue("Solicita PAA (Prueba de Aptitud Academica)",solicitante.socilicita_PAA)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha programada para PAA",solicitante.fecha_programacion_para_PAA)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Hora programada PAA",solicitante.hora_programada_PAA.strftime('%H:%M %p'))  rescue nil%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Solicita Psicometría",solicitante.solicita_pscicometria)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha programada para examen Psicométrico",solicitante.fecha_programacion_para_examenes_pscicomentricos)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Hora programada Psicométrico",solicitante.hora_programada_pscicometrico.strftime('%H:%M %p'))  rescue nil%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Solicita Entrevista Académica",solicitante.solicita_entrevista_academica)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha programada para Entrevista:",solicitante.fecha_programada_para_entrevistas)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Hora programada Entrevista",solicitante.hora_programada_entrevistas.strftime('%H:%M %p'))  rescue nil%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Status de pago de Examen de Admisión",solicitante.status_depago_examen_de_admision)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Promedio",solicitante.promedio)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor=solicitante.tipo_de_admision.valor rescue nil%><%=printValue("Tipo de admisión",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha límite de pago Examen de Admisión",solicitante.fecha_de_limite_de_pago_examen_de_admision)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Solicitud de beca / crédito",solicitante.becacreditos.first.solicitud_de_beca_credito)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje de Beca solicitado",solicitante.becacreditos.first.porcentaje_de_beca_credito)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje de Crédito solicitado",solicitante.becacreditos.first.porcentaje_de_credito_solicitado)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Estimado de pago mensual de colegiatura",solicitante.becacreditos.first.estimado_de_pago_mensual_de_colegiatura)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor =solicitante.becacreditos.first.status_de_ESE.valor rescue nil %><%=printValue("Status de ESE",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor =solicitante.becacreditos.first.status_de_pago_ESE.valor rescue nil %><%=printValue("Status de pago ESE",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje de Beca sugerido ESE",solicitante.becacreditos.first.porcentaje_de_beca_sugerido_ESE)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha límite de aplicación ESE",solicitante.becacreditos.first.fecha_limite_de_aplicacion_ESE)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha límite de pago ESE",solicitante.becacreditos.first.fecha_limite_de_pago_ESE)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje de crédito sugerido ESE",solicitante.becacreditos.first.porcentaje_de_credito_sugerido_ESE)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.becacreditos.first.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor=solicitante.becacreditos.first.status_del_tramite.valor rescue nil%><%=printValue("Status del Trámite",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje de Beca Concedido",solicitante.becacreditos.first.porcentaje_de_beca_concedido)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Calle",solicitante.prospectos.first.direccions.first.calle)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("No interior",solicitante.prospectos.first.direccions.first.no_interior)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("No exterior",solicitante.prospectos.first.direccions.first.no_exterior)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Colonia",solicitante.prospectos.first.direccions.first.colonia)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Delegación / Municipio",solicitante.prospectos.first.direccions.first.delegacion_municipio)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Estado",solicitante.prospectos.first.direccions.first.estado)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Pais",solicitante.prospectos.first.direccions.first.pais)%></Data></Cell>    <Cell><Data ss:Type="String"><%=printValue("Código Postal",solicitante.prospectos.first.direccions.first.codigo_postal)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.prospectos.first.direccions.first.comentarios)%></Data></Cell> <Cell><Data ss:Type="String"><%valor=solicitante.prospectos.first.interes_basicos.first.ultimo_grado_de_estudio.grado_de_estudio rescue nil%><%=printValue("Ultimo grado de estudios",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.interes_basicos.first.preparatoria_o_universidad_de_origen.valor rescue nil%><%=printValue("Preparatoria / Universidad de origen",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.interes_basicos.first.municipio_de_la_preparatoria_o_universidad_de_origen.valor rescue nil%><%=printValue("Municipio de la Preparatoria / Universidad de origen",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Año de graduación",solicitante.prospectos.first.interes_basicos.first.ano_de_graduacion)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor =solicitante.prospectos.first.interes_basicos.first.sede.nombre rescue nilvalor = valor + " - " + solicitante.prospectos.first.interes_basicos.first.subsede.nombre rescue nil %><%=printValue("Sede y subsede de interés",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.interes_basicos.first.turno.valor rescue nil %><%=printValue("Turno",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.interes_basicos.first.periodo_para_ingresar.valor rescue nil %><%=printValue("Periodo para ingresar",valor)%> </Data></Cell>
      <Cell><Data ss:Type="String"><%valor = solicitante.prospectos.first.interes_basicos.first.status_de_interes_de_solicitante.prospectos.first_validado.valor rescue nil %><%=printValue("Status de interes del solicitante.prospectos.first validado",valor)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.prospectos.first.interes_basicos.first.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 1",solicitante.prospectos.first.interes_academicos.first.opcion_1)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 2",solicitante.prospectos.first.interes_academicos.first.opcion_2)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Opción 3",solicitante.prospectos.first.interes_academicos.first.opcion_3)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.feria_universitaria_en_su_colegio,"Feria universitaria")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.visita_a_su_salon,"Platica en su salón")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.recomendacion_de_un_amigo_familiar,"Recomendación de un amigo familiar")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.recomendacion_de_un_egresado,"Recomendación de un egresado")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.sitio_oficial_web_ISEF,"Sitio oficial web ISEF")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.facebook,"Facebook")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.twitter,"Twitter")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.email_de_promocion_mailing,"E-mail de promoción mailing")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.impreso_flyer_folleto,"Impreso; flyer/folleto")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.anuncio_publicacion_periodico_revista,"Anuncio/Publicación/Periódico/Revista")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.llamada_telefonica_de_un_asesor,"Llamada teléfonica de un Asesor")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.conferencia_platica_charla,"Conferencia/Plática/Charla")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.sesion_informativa,"Sesión Informativa")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.visito_las_instalaciones,"Visitó las instalaciones")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.convenio_con_su_institucion,"Convenio con su institucion")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printMedio( solicitante.prospectos.first.medio_de_contactos.first.otro,"Otro")%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro texto",solicitante.prospectos.first.medio_de_contactos.first.otro_texto)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.prospectos.first.medio_de_contactos.first.comentarios)%></Data></Cell>
      <Cell><Data ss:Type="String"><%= printDescuento(solicitante.prospectos.first.plan_de_descuentos.first.descuento_en_la_inscripcion) %></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Porcentaje",solicitante.prospectos.first.plan_de_descuentos.first.porcentaje)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de caducidad",solicitante.prospectos.first.plan_de_descuentos.first.fecha_de_caducidad)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Otro",solicitante.prospectos.first.plan_de_descuentos.first.otro_cual)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Fecha de Otorgamiento",solicitante.prospectos.first.plan_de_descuentos.first.fecha_de_otorgamiento)%></Data></Cell>
      <Cell><Data ss:Type="String"><%=printValue("Comentarios",solicitante.prospectos.first.plan_de_descuentos.first.comentarios)%></Data></Cell>

    </Row>
  <%end%>      
    </Table>
  </Worksheet>
</Workbook>