<h1>Solicitantes</h1>
<%if @solicitantes.total_entries > 100%> 


 
        <%= link_to raw("<i class=""icon-arrow-down""></i>Exportar a Excel<i class=""icon-arrow-down""></i>"), multiexports_path, :class => 'btn btn-mini btn-info' %>  


 
      <%else%>   


 
         <%= link_to raw("<i class=""icon-arrow-down""></i>Exportar a Excel<i class=""icon-arrow-down""></i>"), solicitantes_path(params.merge(format: 'xls')), :class => 'btn btn-mini btn-info' %>   


 
    <%end%> 
    
<hr/>
<style type="text/css">
fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  border: 2px groove threedface;
}
legend
{
margin-bottom: 0!important;
border-bottom: 0px solid #e5e5e5!important;
}
</style>
<%=render :partial=>"shared/save_search", :locals=>{:path_to_look_for=>solicitantes_path, :renderForChange=>false}%>
  <%=@solicitantes.size%> registros de un total de <%=@solicitantes.total_entries%>
<table class="table table-striped table-bordered table-condensed" id="MyTable">
  <thead>
    <tr>
      <th><%= sort_link @q, :id, {}, :method => :get %></th>
      <th><%= sort_link @q, :nombre, {}, :method => :get %></th>
      <th><%= sort_link @q, :apellido_paterno, {}, :method => :get %></th>
      <th><%= sort_link @q, :apellido_materno, {}, :method => :get %></th>
      <th><%= sort_link @q, :programa, {}, :method => :get %></th>
      <th><%= sort_link @q, :created_at, {}, :method => :get %></th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @solicitantes.each do |solicitante| %>
                         <%tareastatus=""%> 
                          <%tareas = Tarea.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!=nil && tarea.fecha_de_inicio_de_la_tarea < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea != nil && tarea.fecha_de_inicio_de_la_tarea == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.fecha_de_inicio_de_la_tarea!= nil && tarea.fecha_de_inicio_de_la_tarea == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>
                                    <%end%>
                                <%end%>
                            <%end%>
                          <%tareas = Llamada.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).all%>
                            <%if tareas != nil%>
                                <%tareas.each do |tarea|%>
                                    <%if tarea.inicio_de_la_llamada!=nil && tarea.inicio_de_la_llamada < Date.today - 2%>
                                      <%tareastatus="redrow whitetigger"%>
                                    <%end%>                
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today - 1%>
                                      <%tareastatus="orangerow whitetigger"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada != nil && tarea.inicio_de_la_llamada == Date.today%>
                                      <% tareastatus="navyrow linkcolor"%>
                                    <%end%>
                                    <%if tarea.inicio_de_la_llamada!= nil && tarea.inicio_de_la_llamada == Date.tomorrow%>
                                      <%tareastatus="stonerow linkcolor"%>

                                    <%end%>
                                <%end%>
                            <%end%> 
                            <%tareas = Memo.where(:model_name=>"solicitantes").where(:model_id=>solicitante.id,:pendiente=>true).size%>                                            
                            <%if tareas > 0
                                tareastatus="orangerow linkcolor"
                              end%>        
      <tr>
        <%if solicitante.prospectos.first == nil%>
          <td><%= solicitante.id %></td>
          <td>Invalido</td>
          <td>Invalido</td>
          <td>Invalido</td>
          <td>Invalido</td>
        <%else%>
          <td><%= solicitante.id %></td>
          <td><%= link_to solicitante.prospectos.first.nombre, solicitante_path(solicitante) %></td>
          <td><%= link_to solicitante.prospectos.first.apellido_paterno, solicitante_path(solicitante) %></td>
          <td><%= link_to solicitante.prospectos.first.apellido_materno, solicitante_path(solicitante) %></td>
          <td><%= link_to solicitante_path(solicitante) do %>
              <%=solicitante.prospectos.first.programa.nivel rescue nil%> - <%=solicitante.prospectos.first.programa.programa rescue nil%>
              <%end%>
            </td>        
        <%end%>


        <td><%= solicitante.created_at %></td>
        <td>
        <%if tareastatus != ""%>
          <%= link_to '<i class="icon-info-sign"></i> Acciones Pendientes'.html_safe, edit_solicitante_path(solicitante,:anchor=>"tareas"),:class=>'btn btn-warning btn-mini zero2'%>
        <%end%>              
          <%= link_to 'Edit', edit_solicitante_path(solicitante), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', solicitante_path(solicitante), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @solicitantes %>
<br/>
<%=@solicitantes.size%> registros de un total de <%=@solicitantes.total_entries%>
<!--<%= link_to 'New', new_solicitante_path, :class => 'btn btn-primary' %>-->
