<h1>Memos</h1>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.id %></td>
        <td><%= link_to memo.nombre, memo_path(memo) %></td>
        <td><%= memo.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_memo_path(memo), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', memo_path(memo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

