<div class="well fields">
  <fieldset>    
    <%=f.input :mensaje%>
    <%=f.input :whensaved%>
    <%=f.input :created_by%>
    <%=f.input :user_id%>
    <%=f.input :sede_id%>
    <%=link_to "Enviar Post", send_post_path(:campana_social)%>
  </fieldset>
</div>    